[2018-06-07 07:32] LamiaSalah commented on #326
@ahmedelbougha please advise status

[2018-06-07 10:20] mahmoud-hussien1 commented on #327
@LamiaSalah it's in review and will be merged to production today.

[2018-06-07 10:20] mahmoud-hussien1 commented on #326
@LamiaSalah it's in review and will be merged to production today.

[2018-06-07 14:36] ahmedelbougha commented on #327
merged

[2018-06-07 14:42] ahmedelbougha commented on #327
@LamiaSalah
Issue fixed please check and confirm

[2018-06-07 14:43] ahmedelbougha commented on #326
merged
@LamiaSalah
Issues fixed, please confirm

[2018-06-07 14:44] ahmedelbougha commented on #324
closed due to inactivity.

[2018-06-07 14:44] ahmedelbougha commented on #322
closed due to inactivity.

[2018-06-07 14:45] ahmedelbougha commented on #321
closed due to inactivity.

[2018-06-07 14:45] #321 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-06-11 07:42] LamiaSalah commented on #327
@ahmedelbougha  confirmed

[2018-06-11 07:44] LamiaSalah commented on #326
@ahmedelbougha there are still issues with:

- The logo, it's distorted.
- The spaces between each section is very big
- the font used is not the one included in the template, this one does not look good.
- in 'Why choose Us' section, the photo size got very small compared to the text, you need to keep the proportion between both

[2018-06-11 08:39] #327 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-06-13 12:38] mahmoud-hussien1 commented on #319
@ahmedelbougha
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/32/issue_319_custom_reports/diff

[2018-06-13 13:39] mahmoud-hussien1 commented on #326
@LamiaSalah
is that good with you?
![screenshot from 2018-06-13 15 37 50](https://user-images.githubusercontent.com/35919348/41354692-e7bab458-6f1f-11e8-9951-18f405d273f1.png)

[2018-06-14 09:32] LamiaSalah opened #329 "Link Creation"
@ahmedelbougha on creating menu items, there are no options in the drop-down of the parent field.
Also not all the pages links appear in the drop-down of the path field.

[2018-06-14 09:34] LamiaSalah commented on #326
@mahmoud-hussien1 please make the photo fit with the text size, increase the text size if needed

[2018-06-14 09:35] LamiaSalah commented on #326
@ahmedelbougha pleases advise of the status of the rest of the points raised in this issue

[2018-06-14 10:34] ahmedelbougha commented on #326
@mahmoud-hussien1
Please confirm the status of the following points by end of middle of today:

- The logo, it's distorted.
- The spaces between each section is very big
- the font used is not the one included in the template, this one does not look good.
- in 'Why choose Us' section, the photo size got very small compared to the text, you need to keep the proportion between both

[2018-06-14 11:00] ahmedelbougha commented on #326
@LamiaSalah in regard to "Why Choose Us" section, we added that image on our own from the group of images you sent for SkillsBuilder not SkilledMatrix, so please provide us with another image  with the following size
width: 1308px
height: 371px

[2018-06-14 11:12] ahmedelbougha commented on #329
@LamiaSalah
We will check the issue of parent, but what are the missing pages in drop-down? I can see 38 pages in the drop-down, while there are 40 pages created (2 are disabled). Please review that again and confirm if issue is present.

[2018-06-14 12:06] LamiaSalah commented on #329
@ahmedelbougha there are no  pages that appear in the drop down of links

[2018-06-14 13:35] ahmedelbougha commented on #329
@LamiaSalah
Please check the screenshot below, do you something different on your side?
![te](https://user-images.githubusercontent.com/8982139/41415259-75139518-6fe8-11e8-8153-2ae3a4f94cf0.png)

[2018-06-14 14:03] ahmedelbougha commented on #326
@LamiaSalah
Please send us the logo size you wish, currently the distorted logo is width: 150px height: 30px.
While the original size of logo is width: 415px height: 164px, so please send us the new size (or at least width or height) we can make it in the appropriate way.

[2018-06-14 15:00] ahmedelbougha commented on #326
@LamiaSalah
We have compared the fonts in the template with the one used in the homepage, they are the same, please advise.

[2018-06-19 08:04] LamiaSalah commented on #329
@ahmedelbougha thanks Ahmed. That's fine

[2018-06-19 08:07] LamiaSalah commented on #326
![sm logo color vector_001](https://user-images.githubusercontent.com/37042927/41584820-93c0e9ca-73a8-11e8-990c-8c6d2f678775.png)
Attached is the logo with the required dimensions

[2018-06-19 08:08] LamiaSalah commented on #326
As for the font, could we use another good looking one please, not sure what the available fonts are

[2018-06-19 08:23] LamiaSalah commented on #329
@ahmedelbougha  I just rechecked this and the page tab is not there. The URL should appear automatically after selecting the page below. Please advise

[2018-06-19 08:25] LamiaSalah opened #330 "Menus"
@ahmedelbougha there's only option of adding menus, no option of adding menu items, so I can't create the main menu

[2018-06-19 08:30] LamiaSalah commented on #326
@ahmedelbougha please note the following:
- [x] Remove the red tab on the main banner
- [x] Remove the black search bar below and shift the section below upward
- [x] In the 4 icons section, please keep only the titles I sent you and remove the one included in the template
- [ ] Links of Certification products are not working properly
- [ ] The three photos below are not aligned and not the same s

[2018-06-20 14:39] ahmedelbougha commented on #330
@LamiaSalah
This is not like Skillsbuilder, where we have multiple menus, here we only have one menu, so any menu items are supposed to appear in the main menu of the website.

[2018-06-20 16:19] mahmoud-hussien1 commented on #326
@LamiaSalah
- i commented this comment before and photo didn't updated.
"in Certification Products section, i think photo should be with width 350px and height 235px".

- for Links of Certification products, it redirects you to tests page if you logged in or fail. please give me the links you want us to update.

[2018-06-21 07:07] LamiaSalah commented on #330
@ahmedelbougha I already created an item and it doesn't appear in the menu bar!

[2018-06-21 07:11] LamiaSalah commented on #326
@mahmoud-hussien1 I'm not sure I understand what you mean. The three photos now are aligned, I guess they have been fixed.

For the links, I'm talking about the 4 links just under the title Certification Products. When you click 'Soft Skills' for example the photos change. As for the pages, I'm unable to give you their linkI'm waiting for your updates about to work on it

[2018-06-21 08:18] mahmoud-hussien1 commented on #326
@LamiaSalah
the links should be filters for photos. are you want this photos belong to all categories (when click on any filter link all photos appear). if not, please tell me each photo belong to each filter.

[2018-06-24 08:54] LamiaSalah commented on #314
@ahmedelbougha please advise, it's been more than a month for the estimated delivery date

[2018-06-24 14:31] HeshamHassan commented on #322
Hushes still in the log file:

![image](https://user-images.githubusercontent.com/11155105/41820064-5ef18d3c-77d4-11e8-9b76-c28797091b23.png)

[2018-06-24 16:55] ahmedelbougha commented on #329
@LamiaSalah It works fine I tested it myself
![temenu](https://user-images.githubusercontent.com/8982139/41821390-1b245baa-77e0-11e8-8732-b545720e6c75.png)
, are you sure it's not working for you?

[2018-06-24 16:56] ahmedelbougha commented on #329
@LamiaSalah
Parent menu item is working fine, please check and confirm.

[2018-06-24 17:58] ahmedelbougha commented on #330
@LamiaSalah
Please check it should be appearing now.

[2018-06-25 07:40] LamiaSalah commented on #329
@ahmedelbougha the parent drop down menu has nothing to show, it's not working

[2018-06-25 07:41] LamiaSalah commented on #329
@ahmedelbougha no, it's not

[2018-06-25 09:49] ahmedelbougha commented on #329
@LamiaSalah
Per our phone call please confirm and close this ticket.

[2018-06-25 09:50] ahmedelbougha commented on #323
@mahmoud-hussien1
What is the extension needs to be installed?

[2018-06-25 09:54] mahmoud-hussien1 commented on #323
@ahmedelbougha
php_exif.dll

[2018-06-25 10:52] HeshamHassan commented on #324
- [ ] The new appointment is now giving an empty list.
![image](https://user-images.githubusercontent.com/11155105/41846196-9e5072e0-787e-11e8-95be-f97b8af7f691.png)

[2018-06-25 10:59] ahmedelbougha opened #331 "Allow multiple level menu children in admin"
@LamiaSalah
As per your request you need to add multiple levels of menu item, I'm confirming this will not affect the frontend menus, as the University them is not ready to do that. But as you requested that we will implement it En Shaa Allah.

[2018-06-25 11:00] ahmedelbougha commented on #324
@HeshamHassan we will check the issue, and let you know.
Important this is different issue of the ticket, so I'll create different ticket

[2018-06-25 11:00] #324 closed, assigned to ahmedelbougha, HeshamHassan, mahmoud-hussien1, Ali-Galal, LamiaSalah

[2018-06-25 11:01] ahmedelbougha opened #332 "Tests don's appear in search page"
- [ ] The new appointment is now giving an empty list.
![image](https://user-images.githubusercontent.com/11155105/41846196-9e5072e0-787e-11e8-95be-f97b8af7f691.png)

[2018-06-25 11:05] ahmedelbougha commented on #314
We need to fix this on the new server, estimated 26/06/2018

On 24 June 2018 at 10:54, LamiaSalah <notifications@github.com> wrote:

--
Thanks,
Ahmed Elbougha

[2018-06-25 11:08] ahmedelbougha commented on #330
@LamiaSalah
Please confirm and close the issue

[2018-06-25 11:14] #330 closed, assigned to ahmedelbougha, Ali-Galal

[2018-06-25 11:15] LamiaSalah commented on #330
@ahmedelbougha confirmed

[2018-06-25 11:19] ahmedelbougha commented on #319
merged and deployed to production
@Ali-Galal , @HeshamHassan
Please check and confirm the functionality.

[2018-06-25 15:32] mahmoud-hussien1 commented on #331
estimated date: 27/06/2018.

[2018-06-26 08:57] Ali-Galal commented on #316
@HeshamHassan Kindly confirm

[2018-06-26 09:00] LamiaSalah opened #333 "Menu Bar"
The content is currently added on two lines for the menu bar, could you please check this issue?

[2018-06-26 09:12] Ali-Galal commented on #318
@ahmedelbougha any update?

[2018-06-26 09:47] HeshamHassan commented on #316
Done

[2018-06-26 09:48] #316 closed, assigned to ahmedelbougha, HeshamHassan, mahmoud-hussien1, Ali-Galal, LamiaSalah

[2018-06-26 09:52] HeshamHassan commented on #333
@LamiaSalah ... That's right:
![image](https://user-images.githubusercontent.com/11155105/41903820-8eeca8de-793f-11e8-9083-b4dc0e8ac4ad.png)

[2018-06-26 10:30] ahmedelbougha commented on #318
@Ali-Galal
This is already merged and on production now, we took the countries and cities from B ayt, but the issue, that there's lot of countries are missing cities, my suggestion is to make user entry field in order to fill this.

[2018-06-26 13:16] Ali-Galal commented on #317
@ahmedelbougha
Testingengine.engine@gmail.com
TeTe@123456

[2018-06-26 13:28] HeshamHassan commented on #319
Still report comes from one table. There is no relation between the tables provided in the report creator.

[2018-06-26 13:31] Ali-Galal commented on #320
@ahmedelbougha when you mention report you have to add print and export buttons to it, as I said before  every report in any system have print and export buttons

[2018-06-26 13:31] HeshamHassan commented on #318
Done

[2018-06-26 13:46] LamiaSalah commented on #326
@mahmoud-hussien1  there's an issue with the photos if you click 'soft skills' one of the 3 photos disappears.

Also the 4 icons above, they still have the old text in the template with the new one added, please update

[2018-06-27 10:07] ahmedelbougha commented on #318
@HeshamHassan
I don't think this is done yet, as lot of countries are missing cities as I mentioned above.

[2018-06-27 15:55] mahmoud-hussien1 commented on #318
fixed

[2018-06-27 15:55] mahmoud-hussien1 commented on #318
@HeshamHassan
please, test.

[2018-06-27 15:57] ahmedelbougha commented on #318
@HeshamHassan
@mahmoud-hussien1  is working on this to include the latest changes.

[2018-06-27 15:58] mahmoud-hussien1 commented on #331
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/41/issue/diff

[2018-06-27 15:59] ahmedelbougha commented on #322
Merged
@HeshamHassan
Would you please retest this issue.

[2018-06-27 16:01] ahmedelbougha commented on #319
@HeshamHassan
What do you mean from one table? all the database tables are listed, and what do you mean with no relations between tables?

[2018-06-28 06:26] HeshamHassan commented on #300
Any update??

[2018-06-28 06:27] HeshamHassan commented on #301
Any update??

[2018-06-28 06:31] HeshamHassan commented on #302
Now, I got "Server Error" when downloading the pictures from the questions list or from edit page of the question.

[2018-06-28 06:31] HeshamHassan commented on #303
Any update??

[2018-06-28 06:38] HeshamHassan commented on #304
Any update??

[2018-06-28 06:40] HeshamHassan commented on #307
Any update??

[2018-06-28 06:44] HeshamHassan commented on #308
Any update??

[2018-06-28 06:45] HeshamHassan commented on #309
@Ali-Galal
Kindly advice

[2018-06-28 06:46] HeshamHassan commented on #310
Any update??

[2018-06-28 06:47] HeshamHassan commented on #314
Any update??

[2018-06-28 06:47] HeshamHassan commented on #317
Any update??

[2018-06-28 07:42] HeshamHassan commented on #323
Any update??

[2018-06-28 08:32] HeshamHassan commented on #322
@ahmedelbougha
Password is ok in the log file
But there is a lot of hushes that I do not know what is it for?
You can check an example at log file page no. 137 you will find "Body" phrase under Key column I didn't get its meaning.
I appreciate if you have manual or documentation for this part explains the phrases used in it

[2018-06-28 09:27] HeshamHassan opened #334 "Custom Report Error"
**URL:** http://skilledmatrix.com/admin/backend/reports/12/edit
**Path:** Admin> Backend> Custom   Report
**Description:**
- [ ] When saving a custom   report that contains “ 0 “ value in the constrains, the system gives error   and report cannot be edited again.
![image](https://user-images.githubusercontent.com/11155105/42025977-9e95995e-7ace-11e8-8350-6703bf85c835.png)

[2018-06-28 09:32] HeshamHassan opened #335 "Custom Report Join Table fields"
**URL:** http://skilledmatrix.com/admin/backend/reports/12/edit
**Path:** Admin> Backend> Custom Report
**Description:**
- [ ] We used a join table to join other tables together. But I don’t want to show its data in the report when it runs. The report creator enforces me to show at least one of its columns in the report.
We can check it together in report 12: Named “ Ali “
![image](https://user-im

[2018-06-28 09:36] HeshamHassan opened #336 "Custom Report – Join Type” Terms"
**URL:** http://skilledmatrix.com/admin/backend/reports/
**Path:** Admin> Backend> Custom Report
**Description:**
- [ ] Kindly explain the “Join Type” content terms? And how to you them?

[2018-06-28 09:54] HeshamHassan commented on #319
@ahmedelbougha
As per my meeting with Eng. Ali, It's OK
But there are some points related to this issue, I will put them in new issues.

[2018-06-28 09:55] ahmedelbougha commented on #300
The custom reports implementation has been changed, so you cannot edit old reports, you need to create new custom report and make sure it works as expected, then save it, then you can edit it afterward.

duplicate #319

[2018-06-28 09:55] #300 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-06-28 09:57] #319 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-06-28 09:58] ahmedelbougha commented on #334
@mahmoud-hussien1
Please check

[2018-06-28 09:59] HeshamHassan commented on #300
Ok
Done

[2018-06-28 10:00] ahmedelbougha commented on #335
@mahmoud-hussien1
Please make sure to make the report contains at least one field, but don't make it mandatory to select columns from all tables.

[2018-06-28 10:12] ahmedelbougha commented on #336
@HeshamHassan
example category table and tests table. If category table (left table) has records with ids = 1, 2, 3, and 4 and you are trying to join tests table (right table) that has records with category_ids = 1, 2, 3 and 0:

"Inner Join" means you want to get all from left table (ids = 1, 2, 3) and related records from right table (category_id = 1,2,3), so it shouldn't display category with id

[2018-06-28 10:26] LamiaSalah commented on #326
@mahmoud-hussien1 Any updates? please note that the format of the home page is completely damaged.

[2018-06-28 10:26] ahmedelbougha commented on #301
@HeshamHassan
This is a duplicate of a closed issue #321, please check my comments in the other ticket.

[2018-06-28 10:27] ahmedelbougha commented on #302
@mahmoud-hussien1
Please check.

[2018-06-28 10:28] ahmedelbougha commented on #303
@mahmoud-hussien1
I think this issue already fixed somewhere else, but please check

[2018-06-28 10:31] ahmedelbougha commented on #304
Dear @HeshamHassan
You already opened another issue #323 that referring to certificate preview, which means you already tested this and found it working. :)
Please close this if you feel it's ok to go.

[2018-06-28 10:33] ahmedelbougha commented on #307
@HeshamHassan
This is not a bug, this should contains the desktop app there when it's compiled on the server.

[2018-06-28 10:33] ahmedelbougha commented on #308
@mahmoud-hussien1
Would you please check

[2018-06-28 10:34] ahmedelbougha commented on #309
@HeshamHassan
is this a bug??

[2018-06-28 10:36] #301 closed, assigned to ahmedelbougha, Ali-Galal

[2018-06-28 10:36] ahmedelbougha commented on #310
@HeshamHassan
Please update the ticket with exact scenario and if it's still there.

[2018-06-28 10:37] ahmedelbougha commented on #314
@HeshamHassan
Not yet fixed.

[2018-06-28 10:38] ahmedelbougha commented on #317
@HeshamHassan
Not yet.

[2018-06-28 10:38] ahmedelbougha commented on #317
@mahmoud-hussien1
Would you please check the details above and fix.

[2018-06-28 10:39] ahmedelbougha commented on #323
@HeshamHassan
I didn't install the above extension yet.

[2018-06-28 10:42] ahmedelbougha commented on #326
@LamiaSalah
@mahmoud-hussien1 already worked/finished your comments, and updating his changes, I didn't merge them yet.
@LamiaSalah
In regard to to your comment

@mahmoud-hussien1 already replied

Please advise.

[2018-06-28 10:43] Ali-Galal commented on #309
@ahmedelbougha some exams could be free of charge

[2018-06-28 10:44] ahmedelbougha commented on #320
@Ali-Galal
Please include this in our call, as this is not my understanding.
Thank you.

[2018-06-28 10:46] ahmedelbougha commented on #322
@HeshamHassan
That because we encrypt the body of some content, I'll make sure to make them uncrypted En Shaa Allah.

@mahmoud-hussien1
Would you please check and fix

[2018-06-28 10:47] ahmedelbougha commented on #309
@Ali-Galal
Sorry, I cannot understand where is the problem, please elaborate more.

[2018-06-28 10:48] HeshamHassan commented on #304
Ok

[2018-06-28 10:48] #304 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-06-28 10:49] Ali-Galal commented on #309
@ahmedelbougha we need the schedule fee field to accept the "0" value.

[2018-06-28 10:49] HeshamHassan commented on #303
I tested this issue today and it still presents

[2018-06-28 10:50] HeshamHassan commented on #308
Done

[2018-06-28 10:50] #308 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-06-28 12:01] HeshamHassan opened #337 "Custom Report Design Instruction Error"
**URL:** http://skilledmatrix.com/admin/backend/reports/17/edit
**Path:** Admin> Backend> Custom Report> Edit report H test 02
**Description:**
I created the following report:
![image](https://user-images.githubusercontent.com/11155105/42032921-cb94431e-7ae3-11e8-89b5-6de219e009b8.png)
The report results were ok in the first run. With the second run, the report results were not reasonable. The I e

[2018-06-28 14:03] HeshamHassan commented on #310
1. I reserved an exam and the appointment expired and stopped.
2. Then I tried to reserve the same exam again, but the page of the exams list shows empty list. So I cannot reserve the same exam again.

[2018-06-29 11:52] ahmedelbougha commented on #309
@Ali-Galal
The normal tests doesn't support "0" as schedule fees, while practice exam does, so if you want a test that free of charge you can use practice tests.

[2018-06-29 11:54] ahmedelbougha commented on #310
Thanks @HeshamHassan
@mahmoud-hussien1 would you please check the above scenario?

[2018-06-29 11:58] ahmedelbougha commented on #303
Thanks @HeshamHassan, we will confirm the issue En Shaa Allah.
@mahmoud-hussien1, please check

[2018-07-02 15:50] ahmedelbougha commented on #331
Merged.
@LamiaSalah please check and confirm

[2018-07-02 15:52] ahmedelbougha commented on #337
@mahmoud-hussien1
Please check and fix.

[2018-07-02 15:52] #336 closed, assigned to nobody

[2018-07-02 16:17] ahmedelbougha commented on #333
@HeshamHassan @LamiaSalah
We have limited space and size of menu bar that cannot afford what you put there in the time being, please compare this with what you did in http://skillsbuilderpro.com, of course we can work on something to make it better, but taking in mind the text you wrote in the menu links, I don't think that will make great improvement.

[2018-07-02 16:42] ahmedelbougha commented on #323
the extension has been installed on the server, preview issue has been fixed.

[2018-07-02 16:42] ahmedelbougha commented on #323
@HeshamHassan
Please check and confirm.

[2018-07-03 06:11] HeshamHassan commented on #323
Done.

[2018-07-03 06:11] #323 closed, assigned to ahmedelbougha, HeshamHassan, mahmoud-hussien1, Ali-Galal, LamiaSalah

[2018-07-03 08:19] LamiaSalah commented on #331
@ahmedelbougha  confirmed

[2018-07-03 08:23] LamiaSalah commented on #333
@ahmedelbougha the titles added has nothing to do with the main menu we added Ahmed in the home page content. There's a lot of duplication, for example, Certification is added 3 times, this is not something that was included in our requirements

[2018-07-03 08:33] LamiaSalah commented on #331
@ahmedelbougha the parent dropdown is added, but I cannot select any menu from the list! Only dots could be selected.

[2018-07-04 12:32] Ali-Galal opened #338 "Encryption"
@ahmedelbougha I need to encrypt the information in the database

[2018-07-10 09:03] HeshamHassan opened #339 "Create Test by a Test Provider"
**URL:** http://skilledmatrix.com/admin/tests/create
**Path:** Provider Login> Tests> Create New Test
**Subject:**
I logged in with a test provider role.
Start creating new test
The “Add New Test” form asked for a test provider name.
The test provider list is empty and it does not accept the logging in provider, or any other provider.
![image](https://user-images.githubusercontent.com/11155105/425

[2018-07-10 10:50] #339 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-10 11:57] HeshamHassan opened #340 "Answer Model - Body Textbox"
**Subject:**
The "Body" textbox that found at model answer page cannot carry long text (maximum 255 letter )
- [ ] open the limit of model answer "Body" text box.
![image](https://user-images.githubusercontent.com/11155105/42508527-89a80a04-8451-11e8-8da7-a7454867f841.png)

[2018-07-11 11:16] HeshamHassan commented on #303
@ahmedelbougha
Any update?

[2018-07-11 11:18] HeshamHassan commented on #337
@ahmedelbougha
Any update?

[2018-07-11 11:18] HeshamHassan commented on #335
@ahmedelbougha
Any update?

[2018-07-11 11:19] HeshamHassan commented on #334
@ahmedelbougha
Any update?

[2018-07-11 11:20] HeshamHassan commented on #333
@ahmedelbougha
Any update?

[2018-07-11 13:00] HeshamHassan commented on #331
@ahmedelbougha
Any update?

[2018-07-11 13:07] HeshamHassan commented on #332
@ahmedelbougha
The appointment process is not complete. It stops on "Available Workstation" step.
![image](https://user-images.githubusercontent.com/11155105/42573333-7fb4e5fc-8524-11e8-9229-32e4357584f5.png)

[2018-07-11 13:10] HeshamHassan commented on #322
@ahmedelbougha
Any update?

[2018-07-11 13:13] HeshamHassan commented on #318
@ahmedelbougha
Any update?

[2018-07-11 13:14] HeshamHassan commented on #317
@ahmedelbougha
Any update?

[2018-07-11 13:17] HeshamHassan commented on #314
@ahmedelbougha
Any update?

[2018-07-11 13:19] HeshamHassan commented on #310
@ahmedelbougha
Any update?

[2018-07-11 13:28] HeshamHassan commented on #302
Done

[2018-07-11 13:28] #302 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-11 13:30] HeshamHassan commented on #299
@ahmedelbougha
Any update?

[2018-07-11 13:30] HeshamHassan commented on #298
@ahmedelbougha
Any update?

[2018-07-11 13:35] HeshamHassan commented on #309
We have some cases that require 0 fee

[2018-07-11 13:37] HeshamHassan commented on #307
@ahmedelbougha
Kindly determined the expected time to take the desk top app. alive?

[2018-07-15 13:58] HeshamHassan opened #341 "Create appointment"
@ahmedelbougha
I cannot create an appointment with the user with "Test Taker Role".
The new appointment worked with Super Admin only.
Kindly Advice!!!

[2018-07-15 14:12] ahmedelbougha commented on #341
@HeshamHassan
What is the scenario? Did you check the user permission in the backend?

[2018-07-15 14:21] HeshamHassan commented on #341
@ahmedelbougha

_**Scenario:**_

1. Create User (KWP T.Taker) with role "Test Taker"
2. Create Test
3. Assigned the admin and proctor to Testing Center 1
4. Attached the test to Testing Center 1
5. Loged in as KWP t.taker
6. Clicked on Appointment
7. Clicked on create new appointment
8. Nothing happen.
9. Tried new appointment with another T.Taker user and the same result.
10. Tried new appointmen

[2018-07-16 07:44] HeshamHassan commented on #314
@ahmedelbougha
Now, We need new users to be registered. There is no confirmation email sent nor activation procedure by the admin to activate the user!
**This is urgent issue.**

[2018-07-16 07:47] HeshamHassan commented on #341
@ahmedelbougha
I have an assessment entered. I cannot check if is is working right or not.
We need it ASAP.
**Kindly help**

[2018-07-16 08:01] HeshamHassan commented on #341
**@ahmedelbougha**
 ### Note
With Admin login.. I can start to create appointment till choosing the exam date. and when clicking on Available Work Station button, I get this page:
![image](https://user-images.githubusercontent.com/11155105/42748049-5ae32718-88e7-11e8-90ac-f969a7b2f453.png)

[2018-07-17 09:27] HeshamHassan commented on #340
**Update:**
Also, the question body cannot accept more than 1000 character.
- [ ] open the limit of "Question Body" text box.

[2018-07-17 15:03] mahmoud-hussien1 commented on #334
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/45/issue-334-change-empty-to-isset-in/diff

[2018-07-17 15:05] mahmoud-hussien1 commented on #331
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/44/issue-331-change-style-of-drobdown-select/diff

[2018-07-17 20:33] ahmedelbougha commented on #331
done

[2018-07-17 20:34] ahmedelbougha commented on #334
done

[2018-07-17 21:21] ahmedelbougha commented on #334
@HeshamHassan please check and confirm

[2018-07-17 21:22] ahmedelbougha commented on #331
@HeshamHassan please check and confirm

[2018-07-18 11:53] mahmoud-hussien1 commented on #335
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/47/issue-335-create-custom-validation-rule/diff

[2018-07-18 12:02] HeshamHassan commented on #341
@ahmedelbougha
Any update?

[2018-07-18 12:03] HeshamHassan commented on #340
@ahmedelbougha
Any update?

[2018-07-18 12:03] HeshamHassan commented on #337
@ahmedelbougha
Any update?

[2018-07-18 12:15] HeshamHassan commented on #334
Done

[2018-07-18 12:15] #334 closed, assigned to nobody

[2018-07-18 12:16] HeshamHassan commented on #318
**@ahmedelbougha**
Any update?

[2018-07-18 12:17] HeshamHassan commented on #332
**@ahmedelbougha**
Any update?

[2018-07-18 12:18] HeshamHassan commented on #333
**@ahmedelbougha**
Any update?

[2018-07-18 12:18] HeshamHassan commented on #317
**@ahmedelbougha**
Any update?

[2018-07-18 12:19] HeshamHassan commented on #314
**@ahmedelbougha**
Any update?

[2018-07-18 12:19] HeshamHassan commented on #310
**@ahmedelbougha**
Any update?

[2018-07-18 12:20] HeshamHassan commented on #309
**@ahmedelbougha**
Any update?

[2018-07-18 12:21] HeshamHassan commented on #306
**@ahmedelbougha**
Any update?

[2018-07-18 12:21] HeshamHassan commented on #303
**@ahmedelbougha**
Any update?

[2018-07-18 12:22] HeshamHassan commented on #298
**@ahmedelbougha**
Any update?

[2018-07-18 16:17] mahmoud-hussien1 commented on #340
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/48/extend-length-model-answer-body/diff

[2018-07-18 17:12] mahmoud-hussien1 commented on #337
@HeshamHassan
We have created a similar report to yours it's called `H test-02 CamelCase` and it worked fine.
1- http://skilledmatrix.com/admin/backend/reports/20/edit
2- http://skilledmatrix.com/admin/backend/reports/20/run
The edit page seems to be working fine.
One important note: according to the image attached above you are using the columns from same table to join ex: `users.id equals users.

[2018-07-18 17:50] ahmedelbougha commented on #333
@LamiaSalah @HeshamHassan
This is a miss-use of CMS backend while creating menu items:
1- All the menu items appear in the menu bar are created by your team
2- The word `Certification` is not displayed 3 times, it's displayed 4 times as following:
  - Certification Testing Products
  - Certification Partner Programs
  - Certification Candidates
  - Certification Partner Programs
All of the above a

[2018-07-18 18:29] ahmedelbougha commented on #340
@HeshamHassan
Answer body: increased to 1000 characters
Question body: is 1000 characters

do you want more characters or is this fine?

[2018-07-18 18:30] ahmedelbougha commented on #332
done, @HeshamHassan please check and confirm.

[2018-07-18 18:34] ahmedelbougha commented on #335
done, @HeshamHassan check and confirm.

[2018-07-18 18:35] ahmedelbougha commented on #331
@HeshamHassan
Please confirm!!

[2018-07-19 08:45] LamiaSalah commented on #331
@ahmedelbougha Please note that there are some pages like certification Testing Products and Certifications Partner Programs, are two main parent pages in the main menu, while they are added as second level of navigation in the drop down. Pages need to be included in the drop down without specifying their level.

[2018-07-19 08:49] HeshamHassan commented on #331
**@ahmedelbougha**
- [x] Menu items accept 1 level only. The second level does not appear in the frontend.
- [x] When move a main menu to be sub-menu, I cannot return it back to be a main menu.
- [x] Some menus disappear while modifying its level.

**Note:** The website is catching and refresh does not solve this issue. So, it is hard to check the modifications in easy way.

[2018-07-19 09:06] HeshamHassan commented on #335
**@ahmedelbougha**
I cannot check. the table order in the report changes each time I change the checking factors.

[2018-07-19 09:10] HeshamHassan commented on #332
**@ahmedelbougha**
It works with Admin only.
I cannot run it from other test-takers.

[2018-07-19 09:26] mahmoud-hussien1 commented on #341
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/50/issue-341-create-appointment/diff

[2018-07-19 09:28] HeshamHassan commented on #337
**@ahmedelbougha**
I cannot check. the table order in the report changes each time I change the checking factors.

[2018-07-19 09:31] HeshamHassan commented on #340
**@ahmedelbougha**
Make them without limitation, **specially** Question Body

[2018-07-19 09:49] ahmedelbougha commented on #340
Mahmoud please change type to text

[2018-07-19 10:46] LamiaSalah commented on #331
@ahmedelbougha  please also note that on creating new Menu, the path option is still not active

[2018-07-19 12:00] HeshamHassan commented on #340
**@ahmedelbougha**
Kindly, urgent update with delivery date.

[2018-07-19 13:39] ahmedelbougha commented on #340
2 hours En Shaa Allah

[2018-07-19 14:07] mahmoud-hussien1 commented on #340
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/51/issue-340-change-type-of-model-answer-to/diff

[2018-07-19 14:10] ahmedelbougha commented on #331
@LamiaSalah
It seems there's lot of misunderstanding of this issue, I suggest to have a phone call next Sunday En Shaa Allah to resolve it.

[2018-07-19 14:39] ahmedelbougha commented on #341
done, @HeshamHassan please confirm.

[2018-07-19 14:57] ahmedelbougha commented on #340
done. @HeshamHassan please confirm

[2018-07-19 14:58] ahmedelbougha commented on #332
@HeshamHassan
Did you ever check the test taker role permissions?!

[2018-07-19 15:02] ahmedelbougha commented on #332
@HeshamHassan
I changed the permissions from admin and it works now for test takers, please check and confirm!!!

[2018-07-19 15:04] ahmedelbougha commented on #331
I suggest to discuss issue #333 to as part of the phone call, as I feel you need some help to work on the menus.

[2018-07-19 15:13] LamiaSalah commented on #331
Agree

[2018-07-22 09:30] mahmoud-hussien1 commented on #337
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/53/issue-337-enhancement-to-report-creater/diff

[2018-07-22 10:04] HeshamHassan commented on #322
@ahmedelbougha
Any update?

[2018-07-22 10:06] HeshamHassan commented on #318
@ahmedelbougha
Any update?

[2018-07-22 10:10] HeshamHassan commented on #310
@ahmedelbougha
Any update?

[2018-07-22 10:10] HeshamHassan commented on #309
@ahmedelbougha
Any update?

[2018-07-22 10:12] HeshamHassan commented on #306
@ahmedelbougha
Any update?

[2018-07-22 10:13] HeshamHassan commented on #303
@ahmedelbougha
Any update?

[2018-07-22 10:15] HeshamHassan commented on #299
@ahmedelbougha
Any update?

[2018-07-22 10:15] HeshamHassan commented on #298
@ahmedelbougha
Any update?

[2018-07-22 10:42] HeshamHassan commented on #341
Sorry @ahmedelbougha !
I cannot test this issue. there is no active user except Admin.
We need to solve issue #314 first.

[2018-07-22 10:50] HeshamHassan commented on #340
- [x] Model answer still maximum: 255 character
- [x] Question body is working good.

[2018-07-22 10:51] HeshamHassan commented on #337
@ahmedelbougha
Any update?

[2018-07-22 10:52] HeshamHassan commented on #335
@ahmedelbougha
Any update?

[2018-07-22 10:58] HeshamHassan commented on #332
The same error, but this time when I tried to pay with a valid voucher.
![image](https://user-images.githubusercontent.com/11155105/43044890-47e276da-8db7-11e8-924b-0dd635c1fa3d.png)

[2018-07-22 11:30] HeshamHassan commented on #317
@ahmedelbougha
Any update?

[2018-07-22 11:30] HeshamHassan commented on #314
@ahmedelbougha
Any update?

[2018-07-22 14:50] ahmedelbougha commented on #341
@HeshamHassan
Sorry, this issue is not depending on user type, if the admin is working fine, then most probably the other users are working fine too, or it will be just matter of permissions.
Please check using the admin for now and confirm if it's working.

[2018-07-22 14:53] ahmedelbougha commented on #314
@HeshamHassan
The emails are being sent successfully, but to our testing environment. So, please send us the configuration of your email server to use it to send emails. [please don't send them here, send it to me by email]

[2018-07-22 15:02] ahmedelbougha commented on #340
@HeshamHassan
done please confirm

[2018-07-22 15:21] ahmedelbougha commented on #332
@HeshamHassan
done please confirm

[2018-07-22 15:23] ahmedelbougha commented on #326
@LamiaSalah
Would you please reply my above comment so we can close this ticket

[2018-07-22 17:26] ahmedelbougha commented on #322
done
@HeshamHassan check and confirm

[2018-07-22 17:36] ahmedelbougha commented on #335
@HeshamHassan please create new custom report and check the functionality is working fine (create/edit/run) and if not please let me know.

[2018-07-22 19:00] HeshamHassan commented on #341
@ahmedelbougha
I tested this issue with admin user. It stopped after I input the voucher and pressed ok.
I got the same error "page not found"

[2018-07-22 19:05] HeshamHassan commented on #314
@Ali-Galal
Kindly advice..

[2018-07-24 17:03] ahmedelbougha commented on #341
@HeshamHassan
I'm not sure what is the scenario you followed, but I just did another Test Scheduling using voucher right now, on this Test http://skilledmatrix.com/testav/3

[2018-07-24 17:05] ahmedelbougha commented on #322
@HeshamHassan
Please confirm and close

[2018-07-24 17:06] ahmedelbougha commented on #332
@HeshamHassan
confirm and close please.

[2018-07-24 17:06] ahmedelbougha commented on #340
@HeshamHassan
confirm and close

[2018-07-24 17:08] HeshamHassan commented on #340
Done.

[2018-07-24 17:08] #340 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-07-25 06:16] HeshamHassan commented on #322
Done.

[2018-07-25 06:16] #322 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-07-25 06:29] HeshamHassan commented on #341
@ahmedelbougha
Till now... it's good
I created an appointment.
![image](https://user-images.githubusercontent.com/11155105/43183271-33b224a2-8fed-11e8-99a3-bfa439f1fb71.png)

But, I need the last step in this process:
- [ ] How to start the booked exam/assessment?

[2018-07-25 06:45] HeshamHassan commented on #332
Done.

[2018-07-25 06:45] #332 closed, assigned to mahmoud-hussien1

[2018-07-25 09:38] Ali-Galal commented on #314
@ahmedelbougha do you mean our exchange credentials or SMTP?

[2018-07-25 09:55] ahmedelbougha commented on #314
It should be SMTP

[2018-07-25 15:38] mahmoud-hussien1 commented on #341
@HeshamHassan
it appears in appointment show page (like: http://skilledmatrix.com/appointments/5) when it's available to start (in 30 minute after schedule time).

[2018-07-26 06:16] HeshamHassan commented on #341
Exam is ready to start as shown in appointment show page (http://skilledmatrix.com/appointments/6).
- [ ] From where candidate can start it?
![image](https://user-images.githubusercontent.com/11155105/43244725-7649566a-90b4-11e8-8011-73f0c5cd3d1e.png)

[2018-07-30 06:12] HeshamHassan commented on #341
**@ahmedelbougha**
Any update?

[2018-07-30 06:15] HeshamHassan commented on #337
**@ahmedelbougha**
Any update?

[2018-07-30 06:18] HeshamHassan commented on #303
**@ahmedelbougha**
Any update?

[2018-07-30 06:18] HeshamHassan commented on #310
**@ahmedelbougha**
Any update?

[2018-07-30 06:19] HeshamHassan commented on #309
**@ahmedelbougha**
Any update?

[2018-07-30 06:19] HeshamHassan commented on #317
**@ahmedelbougha**
Any update?

[2018-07-30 06:21] HeshamHassan commented on #318
**@ahmedelbougha**
Any update?

[2018-07-30 07:33] LamiaSalah commented on #333
@ahmedelbougha we need to delete Appointment and Test Preparation from the menu bar and edit Certificate to be Certifications. Underneath there will be
Certification Testing Products
Certification Partner Programs
Certification Candidates
Certification Partner Programs

The menu should include the following only with the same order:

About                  Skilled Matrix        Certification

[2018-07-30 07:37] HeshamHassan commented on #331
**@ahmedelbougha**
Any update?

[2018-07-30 11:50] LamiaSalah commented on #326
@ahmedelbougha attached is are some details about the home page. I'm still finalizing the rest of the links and will get back to you. You can start working on this until I update you with the rest.

[2018-07-30 13:32] Ali-Galal commented on #338
@ahmedelbougha Kindly update?

[2018-07-31 11:21] LamiaSalah opened #342 "Tables"
@ahmedelbougha Table frames need to be seen as discussed.

[2018-07-31 11:22] LamiaSalah opened #343 "Changes not saved"
@ahmedelbougha changes are not saved when creating new menu item

[2018-07-31 14:52] ahmedelbougha commented on #313
done

[2018-07-31 14:52] #313 closed, assigned to ahmedelbougha

[2018-07-31 14:52] ahmedelbougha commented on #312
done

[2018-07-31 14:52] #312 closed, assigned to mahmoud-hussien1

[2018-07-31 14:55] ahmedelbougha commented on #317
@HeshamHassan
This email/pass are not found, did you create this email?

[2018-07-31 16:50] ahmedelbougha commented on #335
@HeshamHassan any update??!!!

[2018-07-31 16:51] ahmedelbougha commented on #337
@HeshamHassan we added new field group to use it for ordering the table, check and confirm please.

[2018-07-31 16:53] ahmedelbougha commented on #335
@HeshamHassan we added new field group to use it for ordering the table, check and confirm please.
@HeshamHassan, @Ali-Galal
This issue is duplicate of issue #337 please close and concentrate on one issue only.

[2018-07-31 16:57] HeshamHassan commented on #317
@Ali-Galal
Kindly advice.

[2018-07-31 17:11] HeshamHassan commented on #335
**@ahmedelbougha**
Kindly note:
Issue #337 is about the used tables order in the report.
Issue #335 is about the joining between tables and the mandatory fields.
Each issue of them affects the report and prevents the running of the report.

[2018-08-01 06:47] ahmedelbougha commented on #335
@HeshamHassan
When is the last time did you try to create report? the functionality is working since some time and I didn't hear back from you about this.
FYI, I'll remove all old reports to avoid confusion and please start to make new ones.

[2018-08-01 06:49] HeshamHassan commented on #335
**@ahmedelbougha**
Good
Remove all the old confusion report. So, I can create new clear reports.
Inform me when done to start my checking.

[2018-08-01 07:11] ahmedelbougha commented on #343
Fixed, check and confirm

[2018-08-01 07:16] ahmedelbougha commented on #335
@HeshamHassan old reports have been removed.
Please note this issue has been opened according to this description:
[code]
And this issue has been fixed since long time ago, so either close this issue and open another issue or stick to one issue to discuss all issues of Custom Reports.

Please confirm.

[2018-08-01 07:16] ahmedelbougha commented on #337
@HeshamHassan
This issue has been fixed please confirm and close.

[2018-08-01 08:21] LamiaSalah commented on #343
Confirmed

[2018-08-01 08:44] LamiaSalah commented on #326
@ahmedelbougha please use this doc for final Homepage content, links and layout
[Skilled Matrix Home page.docx](https://github.com/camelcasetechsd/testing-engine/files/2248694/Skilled.Matrix.Home.page.docx)
. Please let's talk regarding the menu bar tabs.
- Hide the word العربية for now and increase the logo size without showing the frame around it, it looks odd.

[2018-08-01 09:17] #343 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-08-01 09:17] ahmedelbougha commented on #333
Fixed, check and confirm

[2018-08-01 09:20] LamiaSalah commented on #333
Tabs are not fixed. Please check the info provided in the home page issue

[2018-08-01 09:36] HeshamHassan commented on #335
**@ahmedelbougha**
I cannot deal as well with the custom report module.
Kindly arrange an online appointment to fix all issues about that module.

[2018-08-01 09:37] ahmedelbougha commented on #333
@LamiaSalah
I have read the document you put in #326 of Home Page.
This issue is different issue which is related to menu styling not to the content of the menu and not to content of home page, we have fixed the styling, moved the fixed menu items (Appointments, Admin, Profile, Certificates) to be all under one separate menu item at the right. Any menu items that needs to be created of structured

[2018-08-01 09:40] ahmedelbougha commented on #306
@HeshamHassan
We are in middle of discussion of new Vouchers and Payment system, this issue is not valid. You can confirm later with Ali, please confirm and close.

[2018-08-01 09:46] ahmedelbougha commented on #295
This issue was fixed since long time ago, users already uploaded images to the CMS page.
No activities since 28th of March, confirm to close.

[2018-08-01 09:47] #289 closed, assigned to badr4php

[2018-08-01 09:48] #286 closed, assigned to solimansamy

[2018-08-01 09:50] #296 closed, assigned to nobody

[2018-08-01 09:54] ahmedelbougha commented on #298
@HeshamHassan
This issue has been fixed long time ago, please confirm

[2018-08-01 09:58] HeshamHassan commented on #298
@ahmedelbougha
This is your first reply to me on that issue.

Done.

[2018-08-01 09:58] #298 closed, assigned to ahmedelbougha, Ali-Galal

[2018-08-01 10:04] LamiaSalah commented on #295
Confirmed

[2018-08-01 10:04] #295 closed, assigned to nobody

[2018-08-01 10:06] LamiaSalah commented on #333
@ahmedelbougha Ok . But what is Appointments and certificates? I'm not sure I understand this

[2018-08-01 10:10] HeshamHassan commented on #306
**@Ali-Galal**
Kindly advice!

[2018-08-01 10:11] ahmedelbougha commented on #331
@HeshamHassan
Fixed, confirm and close.

[2018-08-01 10:15] ahmedelbougha commented on #335
@HeshamHassan
You mean you cannot use the module.
If you cannot deal with the module, the close all related issues and create a new one of how to use.
@Ali-Galal
Would you please check and confirm what is needed?

[2018-08-01 10:17] ahmedelbougha commented on #333
@LamiaSalah
They are two system menu items (not created by CMS) related to Booking an Exam (Appointment) and List user certificates (Certificates)

[2018-08-01 10:44] LamiaSalah commented on #333
@Ali-Galal do we need to have this in the drop down as it is? please advise

[2018-08-01 10:56] LamiaSalah commented on #329
when I create a new menu item it should appear in the parent dropdown, this doesn't happen

[2018-08-01 13:17] ahmedelbougha commented on #329
@LamiaSalah
Please check the screenshot, according to the setup, I have make this available up to 9th level.
![level9](https://user-images.githubusercontent.com/8982139/43523812-de497edc-959d-11e8-80f9-e8a94cda5c58.png)

[2018-08-01 13:21] #329 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-08-02 03:42] ahmedelbougha commented on #326
Fixed, please check and confirm

[2018-08-02 03:45] ahmedelbougha commented on #309
@Ali-Galal
This is an enhancement please advise.

[2018-08-02 03:51] ahmedelbougha commented on #299
@HeshamHassan
Scenario please, also the map is blocked until you provide me with gemail details

[2018-08-02 03:51] #287 closed, assigned to ahmedelbougha, Ali-Galal

[2018-08-02 03:52] ahmedelbougha commented on #314
Any update????

[2018-08-02 06:57] #337 closed, assigned to ahmedelbougha, Ali-Galal

[2018-08-02 07:00] Ali-Galal commented on #335
@ahmedelbougha this issue has been settled
@HeshamHassan  close this issue
@HeshamHassan close issue #337
@HeshamHassan open new issue contains all issues related to the custom report in checkbox items

[2018-08-02 07:09] HeshamHassan opened #344 "Custom Reports"
The tables (Items) order in the instruction while modifying the created report; changes each time I change the joining factors. So, the results when running the report are not the same each time. and sometimes when running the report I get error.

[2018-08-02 07:57] LamiaSalah commented on #326
Thanks, Changes are applied except for:

- the logo, it's still small and pixilated with a frame
- The lay out of the sub menues still in 2 lines

Two more things:

- As discussed earlier, can you change the font to the same as Skills Builder Pro?
- For Why Choose Us section? please allign the text in the space available
- in the last section, 2nd photo " Certifying Organizations' please change th

[2018-08-02 07:58] LamiaSalah opened #345 "icon on pages"
@ahmedelbougha Please note there's an icon at the top of each photo in all internal pages that appear in the front end. Please delete it

[2018-08-02 09:22] LamiaSalah opened #346 "Internal pages format"
There's an issue with the format in internal pages
![Uploading image.png…]()

[2018-08-02 09:53] HeshamHassan commented on #303
**@ahmedelbougha**
Any update?

[2018-08-02 10:14] HeshamHassan commented on #317
**@ahmedelbougha**
kindly use the following email:
testengine.engine@gmail.com

[2018-08-02 13:32] LamiaSalah opened #347 "Footer"
[Footer.docx](https://github.com/camelcasetechsd/testing-engine/files/2253777/Footer.docx)

[2018-08-02 14:54] Ali-Galal commented on #309
@ahmedelbougha Estimation?

[2018-08-05 16:34] ahmedelbougha commented on #344
@HeshamHassan
Please put complete scenario of failures

[2018-08-06 11:08] ahmedelbougha commented on #344
@HeshamHassan
Any update?

[2018-08-06 11:09] #335 closed, assigned to nobody

[2018-08-06 11:09] ahmedelbougha commented on #333
@LamiaSalah , @Ali-Galal , @HeshamHassan
Update issue please?

[2018-08-06 11:10] ahmedelbougha commented on #331
@HeshamHassan
Any update???????????

[2018-08-06 11:14] LamiaSalah commented on #331
confirmed

[2018-08-06 11:14] #331 closed, assigned to ahmedelbougha

[2018-08-06 11:16] LamiaSalah commented on #333
@ahmedelbougha the width of each tab need to be created as discussed

[2018-08-06 11:18] LamiaSalah commented on #347
@ahmedelbougha please advise status

[2018-08-06 11:20] HeshamHassan commented on #344
**@ahmedelbougha**
I will create a full scenario and attach it to you today.

[2018-08-06 11:21] ahmedelbougha commented on #326
@LamiaSalah

- I increase the size of logo, if does not fit with you, please send me the size you need
- The menu is not broken into two lines, but as you told me yesterday I'll take the logo a bit left
- In regard to Font, as discussed please send me the font and size you want and I'll apply it  En Shaa Allah, but changing the font  of the whole site into Skillsbuilder Pro is not an easy change a

[2018-08-06 11:23] ahmedelbougha commented on #347
@LamiaSalah
In progress, expected today

[2018-08-06 11:25] ahmedelbougha commented on #347
@LamiaSalah
One thing in regard to *"Contact Us" Page*, cannot you do this using CMS? Why should we do it?

[2018-08-06 11:26] ahmedelbougha commented on #333
@LamiaSalah
What is that? Please advise.

[2018-08-06 11:27] LamiaSalah commented on #326
@ahmedelbougha

- You can just change the font of the home page and menu bar to the same as SBP, no need to change the full site.
- For 'Why choose us' section. The font is aligned top left and the rest of the space is empty. It needs to fit the full space in relation with the photo added.
- The title needs to be the same for Certifying Organizations, I mean the text that appears when the blue bac

[2018-08-06 11:28] LamiaSalah commented on #347
@ahmedelbougha I already created the page, I mean the internal layout. If I can do this, please let me know how.

[2018-08-06 11:29] LamiaSalah commented on #333
@ahmedelbougha the order of each tab from left to right as we discussed it earlier

[2018-08-06 11:36] ahmedelbougha commented on #333
Thanks @LamiaSalah, but this is different issue, please open new issue and close this one and mark the new issue as feature.

[2018-08-06 11:44] #333 closed, assigned to ahmedelbougha, Ali-Galal

[2018-08-06 11:45] LamiaSalah opened #348 "Menu Items Weight"
@ahmedelbougha we need to have a menu weight to be able to set the items in order in the menu.

[2018-08-07 09:14] HeshamHassan commented on #344
**@ahmedelbougha**
Kindly check the issue points below and watch the attached file beside each point:

- [ ] Edit previous report: Cannot add a new entity to a previous report. ( [Point 1 - Edit Report.zip](https://github.com/camelcasetechsd/testing-engine/files/2265746/Point.1.-.Edit.Report.zip) )
- [x] Creating a new report: report created as shown in the attachment cannot run. ( [Point 2 - Crea

[2018-08-13 14:08] ahmedelbougha commented on #344
@HeshamHassan
I'm sorry, please send me a common format videos, as I cannot open **mht**

[2018-08-13 14:15] HeshamHassan commented on #344
**@ahmedelbougha**
Is word format applicable?
[Recorded Steps.docx](https://github.com/camelcasetechsd/testing-engine/files/2283249/Recorded.Steps.docx)

[2018-08-26 10:48] HeshamHassan commented on #344
**@ahmedelbougha**
Any update?

[2018-08-26 11:12] ahmedelbougha commented on #344
@HeshamHassan
I'll call @Ali-Galal to make check with him.

[2018-08-26 11:23] HeshamHassan opened #349 "Edit User Profile"
**URL:** http://skilledmatrix.com/users/profile/edit
**Path:** User Menu> Profile>   Edit
**Subject:**
User profile gives an error when click on save button after any modifying process
![image](https://user-images.githubusercontent.com/11155105/44627720-61932d00-a93b-11e8-800c-bebc5ca7e31f.png)

![image](https://user-images.githubusercontent.com/11155105/44627721-6526b400-a93b-11e8-8acd-b28e0f47eb

[2018-08-26 11:47] HeshamHassan commented on #318
**@ahmedelbougha**
Did "mahmoud-hussien1" finish working on this issue as mentioned above?

[2018-08-26 11:48] HeshamHassan commented on #317
**@ahmedelbougha**
Any update?

[2018-08-26 12:02] HeshamHassan commented on #299
Duplicated Issue
All needed data were sent to issue #317

[2018-08-26 12:02] #299 closed, assigned to ahmedelbougha, Ali-Galal

[2018-08-30 15:05] mahmoud-hussien1 commented on #349
@HeshamHassan
i edit
**### admin**
- first name (non English): هشام
- last name (non English): حسن

**and it works.**

**### test taker**
- first name (non English): هشام
- last name (non English): حسن
- National ID: 1234567890
- Passport ID: 1234567890

**and also works.**

[2018-08-30 15:19] HeshamHassan commented on #349
OK
It's working now.

[2018-08-30 15:19] #349 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-03 09:39] LamiaSalah opened #350 "PDF"
We need to have the option of linking text to a pdf doc.

[2018-09-03 15:28] Ali-Galal commented on #342
Example:
http://skilledmatrix.com/Certification-Partner-Programs/Authorised-Certification-Centres/Program-Options

[2018-09-06 10:12] ahmedelbougha opened #351 "Design Issues"
1- Replace header or internal pages with header of frontpage.
Internal page header:
![2](https://user-images.githubusercontent.com/8982139/45151236-09c3b400-b1ce-11e8-8009-f7cdf9ca89ad.png)
Frontpage header:
![1](https://user-images.githubusercontent.com/8982139/45151244-0f20fe80-b1ce-11e8-9a82-db3fd265ff53.png)

2- Fix footer
![3](https://user-images.githubusercontent.com/8982139/45151252-16e0a30

[2018-09-06 13:32] MoatazAbdAlmageed opened #352 "menu alignment"
Menu looks un formated well
![image](https://user-images.githubusercontent.com/17373050/45160532-00484500-b1ea-11e8-970e-1d78f0a423bf.png)

[2018-09-06 16:13] MoatazAbdAlmageed commented on #352
@ahmedelbougha  I noticed that the menus is fixed in `develop` branch just add the following css
[code]

[2018-09-06 17:03] MoatazAbdAlmageed commented on #352
@ahmedelbougha  Fixed
![image](https://user-images.githubusercontent.com/17373050/45173095-77d89d00-b207-11e8-9d18-06a7b10d6bc0.png)

[2018-09-06 17:36] MoatazAbdAlmageed commented on #352
@ahmedelbougha Please check this   [`PR`](https://bitbucket.org/camelcasetech/testing-engine/pull-requests/62/feat-352-menu-alignment)

[2018-09-09 09:06] HeshamHassan commented on #350
**@ahmedelbougha**
Any update?

[2018-09-09 09:06] HeshamHassan commented on #348
**@ahmedelbougha**
Any update?

[2018-09-09 09:08] HeshamHassan commented on #347
**@ahmedelbougha**
Any update?

[2018-09-09 09:09] HeshamHassan commented on #346
**@ahmedelbougha**
Any update?

[2018-09-09 09:09] HeshamHassan commented on #345
**@ahmedelbougha**
Any update?

[2018-09-09 09:18] HeshamHassan commented on #344
**@ahmedelbougha**
After our meeting...
Any update?

[2018-09-09 09:19] HeshamHassan commented on #342
**@ahmedelbougha**
Any update?

[2018-09-09 09:20] HeshamHassan commented on #341
**@ahmedelbougha**
I still cannot start my exam from the online portal.

Any update?

[2018-09-09 09:21] HeshamHassan commented on #338
**@ahmedelbougha**
Any update?

[2018-09-09 09:21] HeshamHassan commented on #326
**@ahmedelbougha**
Any update?

[2018-09-09 09:23] HeshamHassan commented on #320
**@ahmedelbougha**
Kindly check the attached sample.

[Reports Suggested Design.xlsx](https://github.com/camelcasetechsd/testing-engine/files/2364081/Reports.Suggested.Design.xlsx)

[2018-09-09 09:23] HeshamHassan commented on #318
**@ahmedelbougha**
Any update?

[2018-09-09 09:34] HeshamHassan commented on #317
**@ahmedelbougha**
The new testing center form is still not working.

Any update?

[2018-09-09 09:35] HeshamHassan commented on #311
**@ahmedelbougha**
Any update?

[2018-09-09 09:37] Ali-Galal commented on #314
noreply@skilledmatrix.com

sM@123456

smtpout.secureserver.net

port 465

SSL/ TLS

[2018-09-09 09:39] LamiaSalah opened #353 "Pending Issues"
- Please add the search bar at the top
- Please add Shopping Cart

[2018-09-09 09:40] HeshamHassan commented on #310
This is the same issue that appeared in issue #341

[2018-09-09 09:40] #310 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-09-09 09:49] LamiaSalah commented on #347
Please update the footer with the attached layout
[Footer.docx](https://github.com/camelcasetechsd/testing-engine/files/2364113/Footer.docx)
 and content and fix its background

[2018-09-09 09:49] HeshamHassan commented on #307
**@ahmedelbougha**
Any update??

[2018-09-09 09:51] HeshamHassan commented on #309
**@ahmedelbougha**
Kindly update!

[2018-09-09 09:58] HeshamHassan commented on #303
**@ahmedelbougha**
Any update?

[2018-09-09 11:55] #306 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-09 13:41] mahmoud-hussien1 commented on #344
fixed.

[2018-09-09 13:41] mahmoud-hussien1 commented on #344
@HeshamHassan
please, check.

[2018-09-10 08:41] HeshamHassan commented on #344
**1st. point:** Still cannot add another entity to the report in the new report: After Meeting Report1
![image](https://user-images.githubusercontent.com/11155105/45286265-09892880-b4ee-11e8-85b5-e1bf4cddb0cb.png)
But with the second new report: After Meeting Report2, I can!!!!

**2nd. point: Done
3rd. point: Done**

[2018-09-10 18:07] ahmedelbougha commented on #344
Fixed

[2018-09-10 18:09] ahmedelbougha commented on #342
@HeshamHassan
Fixed

[2018-09-11 09:40] HeshamHassan commented on #342
Done

[2018-09-11 09:43] HeshamHassan commented on #344
Not yet!
Kindly check "After Meeting Report3"
I created it now.

[2018-09-12 07:23] LamiaSalah commented on #342
@ahmedelbougha please enable the option of dragging the columns to be able to change sizes

[2018-09-13 10:03] ahmedelbougha commented on #347
@LamiaSalah
Where is the new background?

[2018-09-13 10:04] LamiaSalah commented on #347
@ahmedelbougha how does it look like? I can't see it in the original template

[2018-09-13 10:06] ahmedelbougha commented on #347
@LamiaSalah
The current background of the footer in website is the original one in the template.

[2018-09-13 10:07] LamiaSalah commented on #347
@ahmedelbougha should it be a photo or what?

[2018-09-18 11:48] HeshamHassan opened #354 "Documentation"
**@ahmedelbougha**
Documentation

[2018-09-18 13:04] ahmedelbougha commented on #346
@LamiaSalah , @HeshamHassan
The image in the issue is missing, so the issue itself is not clear, please update the issue to know the problem, we fixed the table issues in internal pages before, but it seems this is different thing.

[2018-09-18 13:05] ahmedelbougha commented on #326
@LamiaSalah
- Please decide the font style/type and size that you need to apply to home page and let me know.
- Choose us section has been fixed
- Title of Certifying Organizations and similar items has been fixed

[2018-09-18 13:06] ahmedelbougha commented on #347
@LamiaSalah
It was fixed, but we are waiting for the background image or color from your side.

[2018-09-18 13:06] ahmedelbougha commented on #348
@LamiaSalah
Issue has been fixed.

[2018-09-18 13:06] ahmedelbougha commented on #353
@LamiaSalah
It seems they are new requirements, I'm not sure if you have send me details about it?

[2018-09-18 14:49] #352 closed, assigned to nobody

[2018-09-19 07:18] HeshamHassan commented on #303
**@ahmedelbougha**
Any update?

[2018-09-19 07:19] HeshamHassan commented on #309
**@ahmedelbougha**
Any update?

[2018-09-19 07:21] HeshamHassan commented on #354
Duplicate. #311

[2018-09-19 07:21] #354 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-19 07:24] HeshamHassan commented on #352
Not yet... check the below screenshot and its date:
![image](https://user-images.githubusercontent.com/11155105/45737307-14cb0b00-bbf6-11e8-917d-c5667e385328.png)

[2018-09-19 07:28] HeshamHassan commented on #314
**@ahmedelbougha**
Any update?

[2018-09-19 07:30] HeshamHassan commented on #317
**@ahmedelbougha**
Any update?

[2018-09-19 07:31] HeshamHassan commented on #318
**@ahmedelbougha**
Any update?

[2018-09-19 07:32] HeshamHassan commented on #320
**@ahmedelbougha**
Any update?

[2018-09-19 07:33] HeshamHassan commented on #338
**@ahmedelbougha**
Any update?

[2018-09-19 07:35] HeshamHassan commented on #342
**@ahmedelbougha**
Any update?

[2018-09-19 07:36] HeshamHassan commented on #344
**@ahmedelbougha**
Any update?

[2018-09-19 07:36] HeshamHassan commented on #345
**@ahmedelbougha**
Any update?

[2018-09-19 07:51] HeshamHassan commented on #346
![image](https://user-images.githubusercontent.com/11155105/45738603-9f613980-bbf9-11e8-87b1-a150e16e6fe9.png)

[2018-09-19 10:33] ahmedelbougha commented on #351
done

[2018-09-19 10:33] #351 closed, assigned to nobody

[2018-09-19 10:47] LamiaSalah commented on #353
@ahmedelbougha we just need to add a search bar and shopping cart option. How doable is this?

[2018-09-19 10:49] ahmedelbougha commented on #347
@LamiaSalah
As you requested, we have removed the dimensions image and stick to gray background.

[2018-09-19 11:03] LamiaSalah commented on #348
@ahmedelbougha it's not working

[2018-09-19 12:49] ahmedelbougha commented on #346
@HeshamHassan
Fixed

[2018-09-19 13:00] ahmedelbougha commented on #345
Fixed

[2018-09-19 13:02] ahmedelbougha commented on #344
@HeshamHassan
Check again please.

[2018-09-19 13:03] ahmedelbougha commented on #342
@HeshamHassan
Please check with @LamiaSalah  and @Ali-Galal, as we communicate about this by email.

[2018-09-19 13:05] HeshamHassan commented on #346
Still one of the tree spaces exist.
Also, the image has disappeared.
![image](https://user-images.githubusercontent.com/11155105/45754980-c59cce80-bc25-11e8-8c39-ea5683175a2a.png)

[2018-09-19 15:19] ahmedelbougha commented on #341
@HeshamHassan, @Ali-Galal
In order to book an appointment and display "Start Exam" button, please take care of the following:
1- The current used time zone is UTC.
2- The time slots that you are using are compared to time zone used by the application (UTC)
3- If the current time is between start time and 30 minutes after you can see the "Start Exam" button inside the appointment details page
4- Th

[2018-09-19 15:35] ahmedelbougha commented on #320
@Ali-Galal , @HeshamHassan
We need to discuss the above, Ali let's have quick call tomorrow about this.

[2018-09-19 15:36] #277 closed, assigned to badr4php

[2018-09-19 15:36] #273 closed, assigned to badr4php

[2018-09-19 15:36] #282 closed, assigned to nobody

[2018-09-19 15:37] #284 closed, assigned to ahmedelbougha

[2018-09-19 15:37] #285 closed, assigned to mahmoud-hussien1

[2018-09-19 15:38] #239 closed, assigned to nobody

[2018-09-19 15:38] #248 closed, assigned to solimansamy

[2018-09-19 15:39] #2 closed

[2018-09-19 15:39] #4 closed

[2018-09-19 15:39] #5 closed

[2018-09-19 15:39] #13 closed

[2018-09-19 15:40] #22 closed

[2018-09-19 15:40] #49 closed

[2018-09-19 15:40] #79 closed

[2018-09-19 15:41] #80 closed

[2018-09-19 15:42] #110 closed

[2018-09-19 15:42] #113 closed

[2018-09-19 15:42] #114 closed

[2018-09-19 15:42] #116 closed

[2018-09-19 15:43] #232 closed, assigned to badr4php

[2018-09-19 15:43] #231 closed, assigned to nobody

[2018-09-19 15:43] #220 closed, assigned to badr4php

[2018-09-19 15:43] #213 closed, assigned to solimansamy

[2018-09-19 15:44] #211 closed, assigned to nobody

[2018-09-19 15:44] #206 closed, assigned to nobody

[2018-09-19 15:44] #202 closed, assigned to nobody

[2018-09-19 15:44] #192 closed, assigned to AbdElmoneimMohamed

[2018-09-19 15:44] #186 closed, assigned to nobody

[2018-09-19 15:45] #181 closed, assigned to nobody

[2018-09-19 15:45] #171 closed, assigned to nobody

[2018-09-19 15:45] #159 closed, assigned to nobody

[2018-09-19 15:46] #182 closed, assigned to nobody

[2018-09-19 15:46] #145 closed, assigned to nobody

[2018-09-19 15:46] #144 closed, assigned to nobody

[2018-09-19 15:56] #234 closed, assigned to nobody

[2018-09-19 15:56] #238 closed, assigned to AbdElmoneimMohamed

[2018-09-19 15:56] #252 closed, assigned to AbdElmoneimMohamed

[2018-09-19 15:56] #251 closed, assigned to nobody

[2018-09-19 16:06] ahmedelbougha commented on #303
@HeshamHassan
20/09/2018

[2018-09-19 16:11] ahmedelbougha commented on #309
@HeshamHassan @Ali-Galal
1 hour or less.
Date: 20/09/2018

[2018-09-19 16:12] ahmedelbougha commented on #314
@HeshamHassan, @Ali-Galal
23/09/2018

[2018-09-19 16:18] ahmedelbougha commented on #317
@HeshamHassan @Ali-Galal
I'll send you the page where you put payment card details to allow map display correctly En Shaa Allah.

[2018-09-20 07:25] HeshamHassan commented on #341
**@ahmedelbougha**
Grate,
I will check that scenario and reply to you.

[2018-09-20 10:05] Ali-Galal commented on #320
@ahmedelbougha we already have the export feature, we need only to add a printable format to the export feature such as (PDF), however, just drop the time to set the call

[2018-09-20 10:06] ahmedelbougha commented on #348
@LamiaSalah as I show you on the phone yesterday, it's working please confirm and close the issue.

[2018-09-20 10:07] ahmedelbougha commented on #347
@LamiaSalah
Please confirm and close

[2018-09-20 10:07] ahmedelbougha commented on #346
@HeshamHassan
Please confirm the issue is fixed and close it.

[2018-09-20 10:09] ahmedelbougha commented on #345
@HeshamHassan
Please confirm and close

[2018-09-20 10:10] ahmedelbougha commented on #344
@HeshamHassan
Please confirm and close.

[2018-09-20 10:10] ahmedelbougha commented on #342
@HeshamHassan
Please confirm and close.

[2018-09-20 10:11] ahmedelbougha commented on #341
@HeshamHassan
please confirm and close

[2018-09-20 10:12] ahmedelbougha commented on #326
@LamiaSalah @HeshamHassan
Please check the home page confirm it's fine and close the issue.

[2018-09-20 10:15] HeshamHassan commented on #346
**@LamiaSalah**
Kindly check, confirm, and close.

[2018-09-20 10:15] Ali-Galal commented on #317
@ahmedelbougha ok, send it.

@HeshamHassan whenever you receive it share it with Mohammed Tarek

[2018-09-20 10:23] ahmedelbougha commented on #309
@HeshamHassan
Fixed, please confirm and close.

[2018-09-20 10:31] HeshamHassan commented on #309
Done.

[2018-09-20 10:31] #309 closed, assigned to HeshamHassan, Ali-Galal

[2018-09-20 10:38] HeshamHassan commented on #344
I check with an existing report "After Meeting Report3" and with a new report "After Meeting Report4"
it is the same result.
Check the screenshot:
![image](https://user-images.githubusercontent.com/11155105/45813124-6baa1080-bcda-11e8-921d-ec198a0e85d9.png)
![image](https://user-images.githubusercontent.com/11155105/45813090-5634e680-bcda-11e8-96d0-541f6023ec0e.png)

[2018-09-20 10:57] HeshamHassan opened #355 "Payment when exam fees=0"
**@ahmedelbougha**
After fixing issue #309 and the exam fee can be 0 "free of charge"
The appointment must not ask for any payment.

_Please urgent, so I can check issue #341_

[2018-09-20 12:33] ahmedelbougha commented on #303
@HeshamHassan
Fixed, please check and confirm.

[2018-09-20 14:05] LamiaSalah commented on #346
Confirmed

[2018-09-20 14:06] LamiaSalah commented on #326
The font issue is still the same. Please don't make the menu bar icons in caps lock,only first letters.
Also the choose us section still not fixed

[2018-09-20 14:07] LamiaSalah commented on #342
Confirmed

[2018-09-20 14:07] #342 closed, assigned to ahmedelbougha, HeshamHassan

[2018-09-20 14:09] LamiaSalah commented on #347
The layout is OK, but please also make the first letter only in caps lock

[2018-09-20 14:10] LamiaSalah commented on #348
Confirmed

[2018-09-20 14:10] #348 closed, assigned to ahmedelbougha, Ali-Galal

[2018-09-20 14:16] LamiaSalah commented on #345
Confirmed

[2018-09-20 14:16] #345 closed, assigned to Ali-Galal

[2018-09-20 15:03] ahmedelbougha commented on #355
@Ali-Galal @HeshamHassan
This is considered as feature completion issue of 309, I'll add the time to the time of 309.

[2018-09-20 15:06] ahmedelbougha commented on #347
Where is that @LamiaSalah ?

[2018-09-20 15:12] ahmedelbougha commented on #344
@HeshamHassan
I'm not sure what are you trying to show me, but I have some notes:
1- The screen shots you put don't reflect what I can see when editing those reports
2- Why are you linking the users table with itself?
3- If you are linking the users table with itself, why you are not using any columns in the join?

![3](https://user-images.githubusercontent.com/8982139/45828244-60fe7400-bcf8-11e8-

[2018-09-20 15:31] ahmedelbougha commented on #355
@Ali-Galal
This may take 1 day, please confirm to go ahead.

[2018-09-23 10:52] LamiaSalah commented on #347
@ahmedelbougha the text in the footer

[2018-09-25 06:33] HeshamHassan commented on #303
Not solved yet. check the screenshot below:
![image](https://user-images.githubusercontent.com/11155105/45996742-f0fc3f00-c0a5-11e8-8036-c2a0d1ddb739.png)

[2018-09-25 06:50] HeshamHassan commented on #344
**@ahmedelbougha**
Kindly check my comment and the report names:

The first screenshot for the old report. The second screenshot for a new created report that made after your instructions to check for that error.
The 2 reports have the same issue, I created the report with "Users" table and saved it. I tried to modify the it then I got the same issue:
![image](https://user-images.githubusercontent

[2018-09-25 12:53] ahmedelbougha commented on #344
@HeshamHassan
Let's setup a meeting today at 4:30 PM your time

[2018-09-25 13:23] HeshamHassan commented on #344
@ahmedelbougha
Kindly use this ID: 248-355-381
I'm waiting for you.

[2018-09-25 13:34] ahmedelbougha commented on #344
@HeshamHassan
I'm there but it seems you are not.

[2018-09-25 13:35] HeshamHassan commented on #344
https://global.gotomeeting.com/join/248355381

[2018-09-26 11:32] HeshamHassan commented on #317
**@ahmedelbougha**
Any update Please?

[2018-09-26 11:34] HeshamHassan commented on #314
**@ahmedelbougha**
Any update?

23/09/2018

[2018-09-26 11:36] HeshamHassan commented on #307
**@ahmedelbougha**
Any update??

[2018-09-26 11:38] HeshamHassan commented on #350
**@ahmedelbougha**
Any update?

[2018-09-26 13:24] mahmoud-hussien1 opened #356 "using jquery.repeatable library in CustomReport"
I suggest to use **[jquery.repeatable](https://github.com/jenwachter/jquery.repeatable)** in _**Custom Report**_ section.
this lib provide you ability to duplicate template with change placeholder automatically.

**example**: \<label for='firstname_{?}'>First name\</label> will be repeated like:
\<label for='firstname_1'>First name\</label>
\<label for='firstname_2'>First name\</label>

library on

[2018-09-30 08:23] ahmedelbougha commented on #347
@LamiaSalah
Done, please confirm and close.

[2018-09-30 13:13] LamiaSalah commented on #347
@ahmedelbougha the titles are still in the same format.

[2018-09-30 16:51] ahmedelbougha commented on #344
@HeshamHassan
fixed

[2018-09-30 16:52] ahmedelbougha commented on #347
@LamiaSalah If you mean the title are being all caps, that is the design implementation, we made it in the way you want now, please confirm and close

[2018-09-30 17:00] ahmedelbougha commented on #303
@HeshamHassan
What is the size/format of the video?

[2018-09-30 17:04] HeshamHassan commented on #303
It was .AVI & .MP4.
Kindly provide me with the supported format and the supported maximum size.

[2018-09-30 17:13] ahmedelbougha commented on #303
Yes, it supports MP4 and the maximum size is about 5MB

[2018-10-01 07:09] HeshamHassan commented on #344
Done

[2018-10-01 07:09] #344 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-10-01 07:40] HeshamHassan commented on #303
Done

[2018-10-01 07:40] #303 closed, assigned to HeshamHassan, Ali-Galal

[2018-10-01 11:29] ahmedelbougha commented on #353
@LamiaSalah
It's doable, but it take time and effort, and I of course it needs clear requirements.

[2018-10-02 13:04] ahmedelbougha commented on #353
@LamiaSalah @Ali-Galal
We need the requirements of this.

[2018-10-02 13:12] ahmedelbougha commented on #347
@MoatazAbdAlmageed
1- 3 boxes height must be equal
2- z-index of 4 blue boxes

[2018-10-02 13:12] ahmedelbougha commented on #326
@MoatazAbdAlmageed
1- logo to right
2- upper case letters

[2018-10-03 10:28] Ali-Galal commented on #353
@ahmedelbougha we just need to add a search bar and shopping cart option.

what kind of requirements ?! please elaborate

[2018-10-03 10:43] MoatazAbdAlmageed commented on #347
@ahmedelbougha I finalized it please check.

[2018-10-03 11:08] MoatazAbdAlmageed commented on #326
@ahmedelbougha Done, Please check

[2018-10-04 09:58] ahmedelbougha commented on #341
@HeshamHassan
Please confirm and close

[2018-10-04 11:30] MoatazAbdAlmageed commented on #355
@ahmedelbougha Done, Please check

[2018-10-04 11:58] HeshamHassan opened #357 "Footer Bug"
Footer parts appear on the top of all other parts on all pages.
Check the calendar in the below screenshot:
![image](https://user-images.githubusercontent.com/11155105/46472314-78079080-c7e5-11e8-8f95-5519f2d8412a.png)

[2018-10-07 07:37] HeshamHassan commented on #341
**@ahmedelbougha**
The ((Start Exam)) button is not present.
Scenario:
Login as Admin
I Created an appointment: Sunday 10:00 am
On Sunday 10:00 am I opened the appointment page.
I opened the exam: COMMUNICATION SKILLS ASSESSMENT
I did not find the **Start Exam** button

Check the screenshot date and URL:
![image](https://user-images.githubusercontent.com/11155105/46579502-f483b480-ca1b-11e8-8de5-f

[2018-10-07 07:41] HeshamHassan commented on #341
**@ahmedelbougha**
Also the same issue with the desktop app.
![image](https://user-images.githubusercontent.com/11155105/46579587-82ac6a80-ca1d-11e8-848b-f334c169bea1.png)

[2018-10-09 08:23] HeshamHassan opened #358 "Login Button"
The login button is not working in all pages except Homepage.
![image](https://user-images.githubusercontent.com/11155105/46655881-6d6a4400-cbb5-11e8-9719-9b1531089257.png)

[2018-10-10 12:31] ahmedelbougha commented on #291
done

[2018-10-11 13:17] HeshamHassan opened #359 "Printing Exam Result and Certificate"
How can I print the exam result and its certificate?

[2018-10-11 17:17] MoatazAbdAlmageed commented on #358
@ahmedelbougha Fixed it commit => 65694271f86dfd21c0e437fe58412b0a8a625550

[2018-10-14 09:30] HeshamHassan opened #360 "Reports' Definition"
The below table contains the SkilledMatrix reports' definition.
Kindly confirm or modify.

ID | Report Title | Definition
-- | -- | --
1 | My Dashboard | Activities summary shown in tables, charts, and graphs.
2 | Exam Skillset Detail | Shows exam and skillset data for candidates.
4 | Inventory | Status and count of inventory for the selected organization
5 | Inventory By Station | Inventory alloc

[2018-10-14 09:58] HeshamHassan opened #361 "Exam Group"
Add DDM to the test form called "Exam Group".
Knowing that we need it as Dynamic DDm.

[2018-10-17 13:15] HeshamHassan opened #362 "State/Province at Create New Testing Center Form"
The "State/Province" field in the "Create New Testing Center Form" cannot accept any entries.
![image](https://user-images.githubusercontent.com/11155105/47088733-d55d0200-d227-11e8-9958-373d28284a62.png)

[2018-10-17 13:17] HeshamHassan opened #363 "Activity Log Appearance"
Activity Log Appearance needs to be adjusted.
![image](https://user-images.githubusercontent.com/11155105/47088859-1f45e800-d228-11e8-902f-a1b3c4b5633c.png)

[2018-10-17 13:21] HeshamHassan opened #364 "Test Search Tab"
Test Search tab appears in HTML code and needs to be adjusted.
![image](https://user-images.githubusercontent.com/11155105/47088939-5a481b80-d228-11e8-94d2-715dd4dec91c.png)

[2018-10-18 04:42] ahmedelbougha commented on #364
@HeshamHassan
Give more elaboration.

[2018-10-18 05:47] HeshamHassan commented on #364
@ahmedelbougha
Check the contents in the "Body" column.
http://skilledmatrix.com/admin/tests/10/questions/search

[2018-10-21 09:27] mahmoud-hussien1 commented on #363
PR  - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/72/issue-363-fix-bug-in-activity-log/diff

[2018-10-21 09:28] mahmoud-hussien1 commented on #364
PR - https://bitbucket.org/camelcasetech/testing-engine/pull-requests/70/issue-364-strip-tags-in-search/diff

[2018-11-04 11:02] LamiaSalah opened #365 "Format"
@ahmedelbougha the format and spacing of the following pages need fixing even after I worked on fixing them

http://skilledmatrix.com/About-Us/Mission-and-Core-Values
http://skilledmatrix.com/Skilled-Matrix-Solutions
http://skilledmatrix.com/Skilled-Matrix-Solutions/Testing-and-Advisory-Services

[2018-11-05 09:26] LamiaSalah commented on #326
@ahmedelbougha please delete the section' Why choose us' from the page

[2018-11-05 12:02] LamiaSalah commented on #326
@ahmedelbougha
- [ ] Under the main picture in the homepage, there are 4 sections (Features & Benefits, - Reports Analytics etc) that have broken links
![image](https://user-images.githubusercontent.com/11155105/48052186-5882cf80-e1b8-11e8-8832-a2e9287322b8.png)

- [ ] Also Under Certification Products, the 3 pictures that show read more when you hover over, have broken links, they direct to a whi

[2018-11-06 08:24] HeshamHassan commented on #318
**@ahmedelbougha**
the registration form NOW has the city DDM empty. I cannot create any new user or edit resident user.
![image](https://user-images.githubusercontent.com/11155105/48052079-06da4500-e1b8-11e8-891f-dc38fbda1c90.png)

[2018-11-06 08:32] HeshamHassan opened #366 "Login Issue"
* When I login with any role, I find a strange page:
![image](https://user-images.githubusercontent.com/11155105/48051776-16a55980-e1b7-11e8-9a84-ef41016e5a29.png)
I tried login with more than 5 deferent browsers.
* Each time I get a deferent picture.
* The URL is: http://skilledmatrix.com/admin/cms/page/browse?path=%2Fhome%2Fskilledmatrix%2Fpublic_html%2Fuploads%2FPages%2Fmultimedia%2F2018%2F6%2F

[2018-11-06 08:45] HeshamHassan commented on #357
**@ahmedelbougha**
Now the footer looks as the following:
![image](https://user-images.githubusercontent.com/11155105/48052550-4f463280-e1b9-11e8-8d37-0909e5bb0a5c.png)
- [ ] Contact us section need to be readjusted.

[2018-11-06 14:38] mahmoud-hussien1 commented on #326
@LamiaSalah
for the tow sections(certification products section and the section under the main picture), tell me the links to put them in those sections.

[2018-11-07 11:21] ahmedelbougha commented on #341
@HeshamHassan
The time zone on the system is unified on UTC (Coordinated Universal Time), so ALL the appointments are working with that unified time zone (not KSA time zone). So you have to compare your time with UTC while you are creating the appointment.
@Ali-Galal @HeshamHassan
We have only one time zone in the application not multiple time zones, so if you need to set the time zone to KSA that

[2018-11-07 11:34] ahmedelbougha commented on #365
@Ali-Galal
Would you please check this?

[2018-11-07 11:35] ahmedelbougha commented on #364
@HeshamHassan
Confirm fixed.

[2018-11-07 11:36] ahmedelbougha commented on #363
@HeshamHassan
Check and confirm.

[2018-11-07 11:38] ahmedelbougha commented on #361
@Ali-Galal
Please advise.

[2018-11-07 11:39] ahmedelbougha commented on #360
@HeshamHassan @Ali-Galal
This was an extra feature that we did since the **Custom Reports** wasn't finished yet, but since the  **Custom Reports** is already done, we are not supporting this.

[2018-11-07 11:42] ahmedelbougha commented on #358
@HeshamHassan
Please check and confirm.

[2018-11-07 11:43] ahmedelbougha commented on #355
@HeshamHassan @Ali-Galal
Check and confirm

[2018-11-07 11:48] ahmedelbougha commented on #353
@Ali-Galal
Currently, we don't have any products in the website, what will be added in the shopping cart? If we are talking about vouchers, then this is already part of new payment system requirements, so opening separate issue doesn't make sense.

For search bar, what is the functionality of that search bar? which content will it searches in? we have quite lot content there like pages, tests, pro

[2018-11-07 13:03] Ali-Galal commented on #353
@LamiaSalah @HeshamHassan @ahmedelbougha hold any issues related to the payment as we are going to change the workflow from A to Z.

@LamiaSalah please answer the part of the Search bar.

[2018-11-07 13:25] Ali-Galal commented on #341
@ahmedelbougha the booking should follow the TC time zone

[2018-11-07 14:12] ahmedelbougha commented on #341
Thanks Ali, but I couldn't find time zone by that name (TC), would you please elaborate?

[2018-11-08 06:55] #360 closed, assigned to nobody

[2018-11-08 06:56] HeshamHassan commented on #358
Done.

[2018-11-08 06:56] #358 closed, assigned to ahmedelbougha, HeshamHassan, MoatazAbdAlmageed, Ali-Galal

[2018-11-08 08:17] HeshamHassan commented on #363
The page looks harmonic structure.
There is another point.
- [x] The date column format. it must be in the format of: **yyyy/MM/dd, hh:mm:ss.00**
It will not be useful to acknowledge me that the change happened 3 weeks ago or 3 years ago.
We use it to solve problems. So it must be accurate date and time.
![image](https://user-images.githubusercontent.com/11155105/48185929-94986a80-e347-11e8-840e-b

[2018-11-08 08:21] HeshamHassan commented on #364
Done.

[2018-11-08 08:21] #364 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-11-08 08:28] Ali-Galal commented on #341
@ahmedelbougha TC meaning Testing Center

[2018-11-08 10:31] LamiaSalah commented on #326
@mahmoud-hussien1 for the 1st section under the header:

Features and Benefits: Skilled-Matrix-Solutions/Test-Authoring-and-Hosting/Features-and-Benefits
Reports and Analytics:  Skilled-Matrix-Solutions/Test-Authoring-and-Hosting/Reports-and-Analytics
Test Authoring: Skilled-Matrix-Solutions/Test-Authoring-and-Hosting
System Requirements: Skilled-Matrix-solutions/System-Requirements

for the certi

[2018-11-08 10:47] mahmoud-hussien1 commented on #326
@LamiaSalah Thanks.
Tell me the links to replace with broken links in footer also.
send me and i will fix them today En Shaa Allah

[2018-11-08 11:10] LamiaSalah commented on #353
@ahmedelbougha @Ali-Galal this search bar will for searching different tests. If this is not in place now as no tests are added yet, we can postpone it for now.

[2018-11-08 11:14] LamiaSalah commented on #326
@mahmoud-hussien1 This has been sent earlier to Ahmed. Please check Issue 347 for the footer

[2018-11-08 11:57] Ali-Galal commented on #353
@LamiaSalah so, it will search in test names, am I correct? if yes, kindly explain the output page

[2018-11-08 11:59] LamiaSalah commented on #353
@Ali-Galal yes correct. It should direct to the relevant test page if this is what you mean

[2018-11-08 15:18] HeshamHassan commented on #291
**@LamiaSalah**
Kindly confirm

[2018-11-08 15:23] HeshamHassan opened #367 "Desktop application Executable File"
The desktop application file that would be downloaded must be an executable file (.exe). And when TC run it, it must be installed on the PC machine.

[2018-11-08 16:16] mahmoud-hussien1 commented on #326
@LamiaSalah yes, links are sent but, they are broken for now.
we want new unbroken links (some one edit pages path).

[2018-11-11 08:50] LamiaSalah commented on #291
@ahmedelbougha please clarify what this issue is

[2018-11-11 09:15] LamiaSalah commented on #326
@mahmoud-hussien1 please change the titles of the footer to be the same as the header menu with the same order and links

[2018-11-12 11:23] ahmedelbougha commented on #341
@Ali-Galal
This leads to new feature, as the testing-engine doesn't support multiple timezone right now, it just supports one timezone.

[2018-11-12 11:28] ahmedelbougha commented on #307
done, @HeshamHassan please confirm and close

[2018-11-12 13:04] Ali-Galal commented on #341
@ahmedelbougha
1- in mean time set it to follow Riyadh Time Zone
2- add the new to the proposal.

[2018-11-12 13:26] HeshamHassan commented on #307
App. is available, but not installable. #367

[2018-11-13 07:08] HeshamHassan commented on #367
**@ahmedelbougha**
Any update?

[2018-11-13 07:09] HeshamHassan commented on #366
**@ahmedelbougha**
Any update?

[2018-11-13 07:33] HeshamHassan commented on #357
**@ahmedelbougha**
Any update?

[2018-11-13 07:37] HeshamHassan commented on #355
**@ahmedelbougha**
Waiting for fixing issue #341

[2018-11-13 07:37] HeshamHassan commented on #341
**@ahmedelbougha**
Any update?

[2018-11-13 07:59] HeshamHassan commented on #363
**@ahmedelbougha**
Any update?

[2018-11-13 08:02] HeshamHassan commented on #353
**@ahmedelbougha**
Any update?

[2018-11-13 08:03] HeshamHassan commented on #359
**@ahmedelbougha**
Any update??????

[2018-11-13 08:04] HeshamHassan commented on #362
**@ahmedelbougha**
Any update?

It is very important.

[2018-11-13 12:20] HeshamHassan commented on #357
Done

[2018-11-13 12:20] #357 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-11-21 11:32] ahmedelbougha commented on #366
@HeshamHassan
Fixed, please confirm and close.

[2018-11-21 11:33] ahmedelbougha commented on #365
@Ali-Galal
any update?

[2018-11-21 11:34] HeshamHassan commented on #366
Done

[2018-11-21 12:44] Ali-Galal commented on #365
@ahmedelbougha I will update you at the end of today or tomorrow maximum

[2018-11-21 14:20] ahmedelbougha commented on #362
@HeshamHassan
Fixed, confirm and close

[2018-11-21 14:30] ahmedelbougha commented on #359
@HeshamHassan
You can use Ctrl+p, currently we don't have this feature in the application itself, and if you are mentioning the application can " The application should print out the results", that means on the screen not on paper.

[2018-11-21 14:34] ahmedelbougha commented on #355
@HeshamHassan
Why do you link this to #341? you can schedule an appointment whether you started the exam or not, I cannot see why the 2 issues are linked?

[2018-11-21 14:36] ahmedelbougha commented on #341
@HeshamHassan @Ali-Galal
Fixed, confirm and close.

[2018-11-21 14:37] ahmedelbougha commented on #355
@HeshamHassan
Please close this issue if it's done, no need to link it to another issue.

[2018-11-21 14:39] ahmedelbougha commented on #353
@LamiaSalah @Ali-Galal @HeshamHassan
We added search field to tests listing page.
Fixed, confirm and close.

[2018-11-21 14:40] ahmedelbougha commented on #350
@HeshamHassan @LamiaSalah @Ali-Galal
Please elaborate the issue.

[2018-11-21 14:45] ahmedelbougha commented on #318
@HeshamHassan
Fixed, confirm and close

[2018-11-21 14:46] ahmedelbougha commented on #317
@HeshamHassan
Fixed, confirm and close

[2018-11-21 14:47] ahmedelbougha commented on #307
@HeshamHassan
Close this issue, and you have another issue for making the installer.

[2018-11-21 14:48] #293 closed, assigned to mahmoud-hussien1

[2018-11-21 15:36] Ali-Galal commented on #355
@ahmedelbougha this is still open because we still have a problem with the zero fees, because the appointment scheduling still asking for payment or paypal.

[2018-11-21 15:39] HeshamHassan commented on #362
Done

[2018-11-21 15:39] #362 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-11-21 15:43] HeshamHassan opened #368 "Map is not working When Creating new Testing Center"
I cannot create any new testing center. The map is not working when creating "New Testing Center"
![image](https://user-images.githubusercontent.com/11155105/48851931-50807d80-edbd-11e8-9285-3802a70531ca.png)

[2018-11-21 15:45] #307 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-11-21 15:47] HeshamHassan opened #369 "Desktop App. Must Be Installable"
The desktop app. is .zip. It must be installable: ".exe"

[2018-11-21 15:48] #368 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-11-21 15:49] HeshamHassan commented on #317
Not yet...
![image](https://user-images.githubusercontent.com/11155105/48852305-1cf22300-edbe-11e8-8d94-c859b9f60b9d.png)

[2018-11-21 15:49] HeshamHassan commented on #368
Closed for duplication.

[2018-11-21 15:58] #318 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-11-21 15:58] HeshamHassan commented on #318
Done

[2018-11-21 16:02] HeshamHassan commented on #353
The search field is available now.
But what about the shopping cart?
@Ali-Galal and @LamiaSalah Kindly advice..

[2018-11-21 16:06] HeshamHassan commented on #359
**@Ali-Galal**
Kindly Advice!!

[2018-11-21 16:12] Ali-Galal commented on #353
@LamiaSalah please check the search issue,confirm and close it. regarding the cart it will be ignored in mean time as I explained above.

[2018-11-21 16:13] Ali-Galal commented on #359
@ahmedelbougha it could be a solution in the results, but it is not possible with the certificate

[2018-11-21 16:17] LamiaSalah commented on #353
@ahmedelbougha  please send me the link

[2018-11-21 16:17] ahmedelbougha commented on #355
@Ali-Galal, thanks will check and let you know En Shaa Allah.

[2018-11-21 17:57] ahmedelbougha commented on #291
@LamiaSalah
This feature allow admin make duplicate/copy of a page in the CMS.

[2018-11-21 17:59] ahmedelbougha commented on #369
@Ali-Galal
Please advise, why are we duplicating the issues? #367

[2018-11-21 22:53] HeshamHassan commented on #369
It's already duplicated.

[2018-11-21 22:53] #369 closed, assigned to nobody

[2018-11-22 08:11] ahmedelbougha commented on #317
@HeshamHassan
List the scenario for to debug.

[2018-11-22 08:13] ahmedelbougha commented on #317
@mahmoud-hussien1
Check the issue above and fix.

[2018-11-22 08:14] HeshamHassan commented on #317
Just try to create a new testing center from the admin backend.

[2018-11-22 08:15] HeshamHassan commented on #341
Exam appointment was @ 10:30am
![image](https://user-images.githubusercontent.com/11155105/48889378-b82edb00-ee46-11e8-87d7-0cb60611e1ce.png)

- [ ] I cannot find the "Start Exam" button
![image](https://user-images.githubusercontent.com/11155105/48889746-e4972700-ee47-11e8-868d-ac42e601b69a.png)

[2018-11-25 13:56] Ali-Galal commented on #365
@LamiaSalah Hesham fixed it, kindly check it and confirm

[2018-11-25 13:59] LamiaSalah commented on #365
@Ali-Galal the first two pages are fixed without the photos and the third still have a formatting issue.

[2018-11-25 14:15] LamiaSalah commented on #353
@ahmedelbougha we need to have the search bar throughout the whole website like any other website as the attached.
![image](https://user-images.githubusercontent.com/37042927/48980063-f0dfe600-f0cc-11e8-8e39-0c6ab7b287a3.png)

[2018-11-25 14:18] LamiaSalah commented on #326
@ahmedelbougha this issue has been opened for so long and I'm not sure what the problem is. We need to discuss it through the phone to finalize it so please call me when you're available as you're out of reach.

[2018-11-27 09:52] HeshamHassan commented on #314
Any update?

[2018-11-27 09:53] HeshamHassan commented on #317
Any update?

[2018-11-27 09:54] HeshamHassan commented on #338
Any update?

[2018-11-27 09:57] HeshamHassan commented on #341
Any update?

[2018-11-27 10:07] HeshamHassan commented on #355
Any update?

[2018-11-27 10:08] HeshamHassan commented on #359
Any update?

[2018-11-27 10:11] HeshamHassan commented on #363
Done.

[2018-11-27 10:11] #363 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-12-02 08:15] ahmedelbougha commented on #359
@HeshamHassan
As I said before this is not available for certificate, if you want to add it as new feature, please let us know.

[2018-12-02 08:17] Ali-Galal commented on #361
@ahmedelbougha ignore this as we add it to the new proposal

[2018-12-02 08:17] #361 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2018-12-02 08:17] #365 closed, assigned to Ali-Galal

[2018-12-02 08:18] ahmedelbougha commented on #367
@HeshamHassan
We will work on this and let you know, I'll send you an update by tomorrow En Shaa Allah.

[2018-12-02 08:18] ahmedelbougha commented on #355
@mahmoud-hussien1
Please fix this ASAP.

[2018-12-02 08:22] ahmedelbougha commented on #353
@LamiaSalah
I can add it, but this doesn't make sense, the issue here is that we search bar is only related to Tests, if we add it to the other website pages, then it gives the impression that it's a search bar for the whole website not just for tests.

[2018-12-02 08:25] LamiaSalah commented on #353
@ahmedelbougha Tests are a section of the website, so people can search for any info in general and not just tests.

[2018-12-02 08:25] ahmedelbougha commented on #347
@LamiaSalah
Please confirm and close.

[2018-12-02 08:26] ahmedelbougha commented on #341
@mahmoud-hussien1
Please check and confirm it's working.

[2018-12-02 08:27] ahmedelbougha commented on #311
@Ali-Galal
Would you please confirm and close?

[2018-12-02 08:29] #291 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-12-02 08:30] ahmedelbougha commented on #326
@LamiaSalah
OK, let's have a meeting toady by 4:00 PM En Shaa Allah.

[2018-12-02 08:32] Ali-Galal commented on #359
@ahmedelbougha we need start exam to see the certificate print-out, kindly solve the issue number 341 to check

[2018-12-02 08:37] LamiaSalah commented on #347
@ahmedelbougha the format is fixed, but the content itself needs to be changed like the header, the same menu, order and titles.

[2018-12-02 08:38] LamiaSalah commented on #326
@ahmedelbougha   confirmed

[2018-12-02 08:55] Ali-Galal commented on #311
@ahmedelbougha waiting you modifications as our phone conversation

[2018-12-02 09:11] Ali-Galal commented on #353
@ahmedelbougha add it to the header, please

[2018-12-02 13:22] HeshamHassan opened #370 "Contact Us Page"
Contact Us page does not exist.
![image](https://user-images.githubusercontent.com/11155105/49340249-6fe59900-f64e-11e8-9164-9851d61824dd.png)

[2018-12-03 17:24] #356 closed, assigned to ahmedelbougha, mahmoud-hussien1

[2018-12-05 13:52] mohamedMahdyCc commented on #355
@HeshamHassan @ahmedelbougha Done! will merge and push to server today nchallah

[2018-12-10 10:38] HeshamHassan opened #371 "Create Form Exam"
When clicking on Save button, error message appears:
![image](https://user-images.githubusercontent.com/11155105/49727155-a2137e00-fc80-11e8-9d44-1e06633c6aff.png)
..
![image](https://user-images.githubusercontent.com/11155105/49727178-ad66a980-fc80-11e8-8e79-d68fc4435b47.png)

[2018-12-10 13:59] HeshamHassan opened #372 "Create Appointment Page Issue"
When creating an appointment, there is a picture placeholder for each exam.
- [x] How can I add or assign these pictures?
![image](https://user-images.githubusercontent.com/11155105/49736751-0263e900-fc9c-11e8-84b5-84bcb2dc5246.png)

[2018-12-10 14:43] mohamedMahdyCc commented on #372
@HeshamHassan @ahmedelbougha

Unfortunately, no way to edit or add exam test picture from admin panel
its just static image, if you wanna add this feature as `change request` please let me know

[2018-12-11 07:33] HeshamHassan commented on #372
**@Ali-Galal**
Kindly Advice!

[2018-12-11 08:02] Ali-Galal commented on #372
@mohamedMahdyCc remove the picture from this view.

[2018-12-11 08:51] HeshamHassan commented on #355
Done

[2018-12-11 08:51] #355 closed, assigned to ahmedelbougha, Ali-Galal

[2018-12-11 08:54] HeshamHassan commented on #370
Any update?

[2018-12-11 08:55] HeshamHassan commented on #347
Any update?

[2018-12-11 09:18] HeshamHassan commented on #367
Any update?

[2018-12-11 09:19] HeshamHassan commented on #353
Any update?

[2018-12-11 09:47] HeshamHassan commented on #314
- [ ] Activate the user activation email.
- [ ] add a checkbox to activate or deactivate the user inside the user profile application. this checkbox must be available to Admin and TC Administrator.

[2018-12-13 17:07] mohamedMahdyCc commented on #370
@HeshamHassan @ahmedelbougha

what should appear at this page , contact us form ? if yes can you please send more details about required fields ?

[2018-12-16 11:13] HeshamHassan opened #373 "Form Exams - Add Questions"
**Scenario**:

1. Added new form to the exam.
2. Added questions to the form.
3. Select some or all questions by checking the checkboxes.
4. Submit the selection.
5. The questions assigned to the form but in descending order.
![image](https://user-images.githubusercontent.com/11155105/50052853-c1585280-013b-11e9-91c5-1c0666676018.png)

- [x] Insert the questions to the form in the same order as it

[2018-12-16 13:11] HeshamHassan opened #374 "Create Exam"
When saving a new exam, the "Issue Happened" message appears.
Kindly check it URGENT.
![image](https://user-images.githubusercontent.com/11155105/50053878-033dc480-014d-11e9-9946-e8effe2f871a.png)

[2018-12-16 13:48] mohamedMahdyCc commented on #373
@HeshamHassan working on this ...

[2018-12-16 14:35] mohamedMahdyCc commented on #374
@HeshamHassan @ahmedelbougha
Done! please confirm and close

[2018-12-16 14:47] mohamedMahdyCc commented on #371
@HeshamHassan @ahmedelbougha
Done! we add validation for the date please confirm about this and close i think this issue repeated  please confirm and close

[2018-12-17 08:06] HeshamHassan opened #375 "Export Form Exam is not Working"
Export Form Exam is not Working
When I clicked on the export button beside any form exam, the ".csv" file downloaded empty without data.

[2018-12-17 11:22] LamiaSalah opened #376 "Website access"
@ahmedelbougha please make the website under construction as we did with SBP at the soonest

[2018-12-17 13:09] LamiaSalah opened #377 "Question mark icon"
@mohamedMahdyCc all paged have a question mark icon on the photo as attached
![image](https://user-images.githubusercontent.com/37042927/50089127-9dfdd800-020d-11e9-8c67-e5c1914b9b07.png)

also, this page http://skilledmatrix.com/admin/cms/pages/21/edit  has a formatting issue with the text and background is grey

[2018-12-17 14:41] mohamedMahdyCc commented on #373
@ahmedelbougha @HeshamHassan
Done! please confirm and close

[2018-12-17 15:46] mohamedMahdyCc commented on #376
@LamiaSalah @ahmedelbougha Done! please confirm and close

[2018-12-18 07:02] HeshamHassan commented on #373
Done.

[2018-12-18 07:02] #373 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2018-12-18 08:10] LamiaSalah commented on #376
@mohamedMahdyCc please remove the line Skilled Matrix a business and soft skills training solutions and delete the social media icons

[2018-12-18 10:58] HeshamHassan commented on #374
Done.

[2018-12-18 10:58] #374 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2018-12-18 10:58] HeshamHassan commented on #372
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:01] HeshamHassan commented on #371
**@mohamedMahdyCc**
Would you change the date format to be able to enter and watch the date as normal ((dd-mm-yyyy))?

[2018-12-18 11:02] HeshamHassan commented on #370
**@LamiaSalah**
Kindly advice.

[2018-12-18 11:03] HeshamHassan commented on #367
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:04] HeshamHassan commented on #341
Done.

[2018-12-18 11:04] #341 closed, assigned to HeshamHassan

[2018-12-18 11:06] HeshamHassan commented on #353
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:07] HeshamHassan commented on #347
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:08] HeshamHassan commented on #338
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:08] HeshamHassan commented on #326
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:09] HeshamHassan commented on #320
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:09] HeshamHassan commented on #317
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:10] HeshamHassan commented on #314
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 11:11] HeshamHassan commented on #311
**@ahmedelbougha**
Kindly update the issue status.

[2018-12-18 11:12] HeshamHassan commented on #359
**@mohamedMahdyCc**
Kindly update the issue status.

[2018-12-18 12:38] LamiaSalah commented on #370
@mohamedMahdyCc  yes, as per the attached
![image](https://user-images.githubusercontent.com/37042927/50154630-89cfde80-02d2-11e9-9965-2cf728992aeb.png)

[2018-12-18 12:38] #350 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2018-12-18 15:02] mohamedMahdyCc commented on #376
@LamiaSalah @ahmedelbougha @Ali-Galal
Done! please confirm and close

[2018-12-18 15:39] mohamedMahdyCc commented on #375
@HeshamHassan ok will check this tomorrow

[2018-12-18 16:32] mohamedMahdyCc commented on #314
@HeshamHassan
will check this `Activate the user activation email.`
also will estimate time for this new feature `add a checkbox to activate or deactivate the user inside the user profile application. this checkbox must be available to Admin and TC Administrator.` and reply you ASAP

[2018-12-18 16:37] mohamedMahdyCc commented on #370
@HeshamHassan @ahmedelbougha
will include this as new feature,so please confirm to start with it.

[2018-12-18 16:39] HeshamHassan commented on #370
**@Ali-Galal**
Kindly advice.

[2018-12-18 16:53] mohamedMahdyCc commented on #317
@HeshamHassan working on this

[2018-12-19 10:57] LamiaSalah commented on #376
@mohamedMahdyCc Confirmed

[2018-12-19 10:57] #376 closed, assigned to nobody

[2018-12-19 14:10] HeshamHassan commented on #377
![image](https://user-images.githubusercontent.com/11155105/50225207-e86b8a00-03b0-11e9-9ed3-72d4a8676f1b.png)

[2018-12-19 15:17] mohamedMahdyCc commented on #320
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-19 16:25] mohamedMahdyCc commented on #317
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 07:37] HeshamHassan commented on #320
- [x] Report hard copy is missing its title.

[2018-12-20 08:43] HeshamHassan commented on #347
- [ ] Update the footer to match the menu bar contents.
![image](https://user-images.githubusercontent.com/11155105/50273683-603ac280-044c-11e9-8e20-5ab3282faf02.png)

[2018-12-20 08:46] HeshamHassan opened #378 "Test Center Details Issue"
- [x] CR File Download is not working.
- [x] Location map is missing.

![image](https://user-images.githubusercontent.com/11155105/50273858-db9c7400-044c-11e9-9c2b-7fea5770e56d.png)

[2018-12-20 08:55] HeshamHassan commented on #317
**@mohamedMahdyCc**
- [x] New testing center has been created successfully.

But the map at the form shows the location of Boudhh - Kathmandu from Nepal!
![image](https://user-images.githubusercontent.com/11155105/50274350-1bb02680-044e-11e9-9aba-9f376ef1fe32.png)

- [x] Need the start point of the mab to be "Current Location" or "Riyadh City".

[2018-12-20 11:32] LamiaSalah commented on #326
@mohamedMahdyCc
Please edit the contact bar with the follwoing details:
Washington, District of Columbia 20005, 1200 G Street, NW, Suite 800
T: 202-661-3533

[2018-12-20 12:00] mohamedMahdyCc commented on #317
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 12:21] mohamedMahdyCc commented on #372
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 12:23] mohamedMahdyCc commented on #326
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 12:35] mohamedMahdyCc commented on #320
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 13:10] HeshamHassan commented on #320
Done.

[2018-12-20 13:10] #320 closed, assigned to ahmedelbougha

[2018-12-20 13:15] HeshamHassan commented on #317
Done.

[2018-12-20 13:15] #317 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2018-12-20 13:21] HeshamHassan commented on #372
Done.

[2018-12-20 13:21] #372 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2018-12-20 14:50] HeshamHassan opened #379 "Contact Us Page"
Make "Contact Us" page a dynamic page.

[2018-12-20 15:04] LamiaSalah commented on #326
@mohamedMahdyCc  please edit phone number to be +1 (202)-661-3533

also the issue couldn't be closed as there are some pending points at the page above.

[2018-12-20 16:14] mohamedMahdyCc commented on #379
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
will include this as new feature please confirm ?

[2018-12-20 16:15] mohamedMahdyCc commented on #378
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
Working on this ...

[2018-12-20 16:16] mohamedMahdyCc commented on #377
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-20 16:16] mohamedMahdyCc commented on #375
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
Working on this ...

[2018-12-20 16:20] HeshamHassan commented on #379
**@Ali-Galal**
Kindly Advice.

[2018-12-20 16:21] mohamedMahdyCc commented on #370
@HeshamHassan @LamiaSalah
this issue duplicated please close,

[2018-12-20 16:24] HeshamHassan commented on #370
Closed as Duplicated.
The new issue is #379

[2018-12-20 16:24] #370 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2018-12-20 16:24] mohamedMahdyCc commented on #367
@HeshamHassan @ahmedelbougha
will discussing this issue with the team and reply you ASAP.

[2018-12-20 16:29] mohamedMahdyCc commented on #359
@HeshamHassan @Ali-Galal

yes this issue 341 is done and closed, what next ?

[2018-12-20 16:32] mohamedMahdyCc commented on #353
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
will include `search bar at header for all website` as new feature please confirm ?

[2018-12-20 16:36] mohamedMahdyCc commented on #347
@HeshamHassan @Ali-Galal @ahmedelbougha @LamiaSalah
will include this as new feature please confirm ?

[2018-12-20 16:39] mohamedMahdyCc commented on #338
@HeshamHassan
will check and reply this next week nchallah

[2018-12-20 16:47] mohamedMahdyCc commented on #326
ok @LamiaSalah will check the remaining points next week

[2018-12-20 16:49] mohamedMahdyCc commented on #314
@HeshamHassan can you please move this `add a checkbox to activate or deactivate the user inside the user profile application. this checkbox must be available to Admin and TC Administrator.` to new issue with label `new feature` please

[2018-12-20 16:52] mohamedMahdyCc commented on #311
@HeshamHassan
ok will check this and reply ASAP nchallah

[2018-12-20 16:54] #111 closed

[2018-12-20 16:57] HeshamHassan commented on #367
**@mohamedMahdyCc**
It was made before. I can send you a copy of it.

[2018-12-20 17:01] HeshamHassan commented on #359
**@mohamedMahdyCc**
I will create a new certificate and attach it to an exam, then I will create an appointment to conduct that exam to check how to print the success certificate.

[2018-12-20 17:01] HeshamHassan commented on #353
**@Ali-Galal**
Kindly Advice.

[2018-12-20 17:03] HeshamHassan commented on #347
**@mohamedMahdyCc**
I think it is fixing the footer.

**@Ali-Galal**
Kindly advice.

[2018-12-20 17:07] HeshamHassan commented on #314
**@Ali-Galal**
Kindly advice.

[2018-12-23 16:07] mohamedMahdyCc commented on #378
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-24 09:14] LamiaSalah commented on #347
@mohamedMahdyCc I'm not sure why this is a new feature?? It's just editing the content of the footer to match with the current header menu.

[2018-12-24 09:20] LamiaSalah commented on #377
@confirmed

[2018-12-24 09:20] #377 closed, assigned to nobody

[2018-12-24 10:02] mohamedMahdyCc commented on #375
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2018-12-24 10:06] mohamedMahdyCc commented on #371
@HeshamHassan @ahmedelbougha

i just remove cache (autocomplete) in the expiration date , also we have to keep all system using the same date format

please check and close

[2018-12-24 10:51] HeshamHassan commented on #366
**@mohamedMahdyCc**

![image](https://user-images.githubusercontent.com/11155105/50397584-95178400-0782-11e9-99c2-a6789879edf3.png)

Please recheck this issue. It was solved and the same issue happens agian since yesterday.
** Check the date at the right bottom corner.

[2018-12-24 11:12] HeshamHassan commented on #375
**@mohamedMahdyCc**
The exported file cannot be imported.

[2018-12-24 11:37] mohamedMahdyCc commented on #347
ok @LamiaSalah just please discuss this with @ahmedelbougha and let me know the final decision

[2018-12-24 11:40] mohamedMahdyCc commented on #366
@HeshamHassan
working on this

[2018-12-24 11:47] mohamedMahdyCc commented on #375
@HeshamHassan Sorry , working on this

[2018-12-24 17:22] mohamedMahdyCc commented on #326
@ahmedelbougha @LamiaSalah
we updated the contact bar with the new info and update our features links , please let me know if some thing remaining at home page

[2018-12-24 17:22] mohamedMahdyCc commented on #347
@LamiaSalah @HeshamHassan @ahmedelbougha
footer updated please confirm and close

[2018-12-25 07:20] HeshamHassan commented on #347
My issue point has Done.
@LamiaSalah : Pls check.

[2018-12-25 12:12] LamiaSalah commented on #347
@mohamedMahdyCc Confirmed

[2018-12-25 12:13] #347 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2018-12-25 13:10] HeshamHassan commented on #314
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:11] HeshamHassan commented on #338
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:11] HeshamHassan commented on #353
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:15] HeshamHassan commented on #367
**@mohamedMahdyCc**
Any update?

[2018-12-25 13:20] HeshamHassan commented on #375
@mohamedMahdyCc
The scenario I made on importing exported form exam.
1. export a form exam to csv file.
2. clicked on Import
3. browsed the exported exam .csv file
4. submited that file

[2018-12-26 10:53] HeshamHassan commented on #359
**@mahmoud-hussien1**
I cannot attach the certificate to the test.
![image](https://user-images.githubusercontent.com/11155105/50443663-785f8580-0915-11e9-893d-10e5404adb74.png)

[2018-12-26 11:01] HeshamHassan commented on #371
**@mohamedMahdyCc**

You are right. But we can have a number mask for the user interface. So the user can see the date as logic as he used to see.

[2018-12-26 11:04] HeshamHassan commented on #378
Done.

[2018-12-26 11:04] #378 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2018-12-26 12:20] mohamedMahdyCc opened #380 "Upload Image from CK Editor"
when upload image from ck editor not appear in server images list

[2018-12-26 12:22] mohamedMahdyCc opened #381 "Search in Pages - Backend"
search in pages with page title

[2018-12-26 12:26] mohamedMahdyCc opened #382 "table style in page preview"
please try to edit page `Program Options` in cms > pages - page `9` and click `preview` you will seen the table without border

[2018-12-26 12:31] LamiaSalah commented on #381
@mohamedMahdyCc agreed, with page title through all pages

[2018-12-26 12:34] LamiaSalah commented on #382
@mohamedMahdyCc  please ensure this is applied in general and not for specific pages , so we don't face this issue each time we create a table

[2018-12-26 12:40] HeshamHassan commented on #381
Can we search with any word in the active section of the backend and the search result would be the page title for the page that contains the concerned search words?

[2018-12-26 14:49] mohamedMahdyCc commented on #381
@LamiaSalah @HeshamHassan
ok waiting for approval...

[2018-12-27 09:20] mahmoud-hussien1 commented on #359
@HeshamHassan as the message appeared, this test was taken before. so you can't edit it.

[2018-12-27 09:37] HeshamHassan commented on #359
I cannot edit. So:
- I cannot add or attache certificate to that exam.
- If the exam has a certificate, I cannot change this certificate.

[2018-12-27 15:42] mahmoud-hussien1 commented on #359
@HeshamHassan yes, if exam taken, you can't edit it or attach certificate to it.

[2018-12-27 15:46] mohamedMahdyCc commented on #326
@ahmedelbougha @LamiaSalah
please close this issue if done

[2018-12-27 15:51] mohamedMahdyCc commented on #353
@HeshamHassan
waiting for approve to start estimation for this feature

[2018-12-27 16:02] mohamedMahdyCc commented on #314
@HeshamHassan

i already replied last week and waiting for approve , also please move this to new issue and close this one so we can add label for it

[2018-12-27 16:06] mohamedMahdyCc commented on #359
@ahmedelbougha @Ali-Galal @HeshamHassan
please confirm and close if you seen it's done.

[2018-12-28 08:05] Ali-Galal commented on #379
Confirmed

[2018-12-28 08:06] Ali-Galal commented on #314
no need at mean time

[2018-12-28 08:06] #314 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2018-12-31 08:29] HeshamHassan opened #383 "Used Exam Modifying"
The taken exam need the following features:
- [ ] Change/Modify any of the fees.
- [ ] Add/Change the attached certificate.
- [ ] Change/Modify Success Percentage
- [ ] Change/Modify Maximum number of attempts
- [ ] Change/Modify Expiration date

![image](https://user-images.githubusercontent.com/11155105/50556826-1032ea00-0cef-11e9-8913-7ab89aca255f.png)

[2019-01-01 09:52] MuhammedMahdy commented on #375
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-01 09:56] MuhammedMahdy commented on #380
@ahmedelbougha @Ali-Galal @LamiaSalah

the images already uploaded , but not arranged , please try to upload an image with a solid color to confirm that it working fine.

please confirm and close

[2019-01-01 10:00] MuhammedMahdy commented on #338
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-01 10:16] MuhammedMahdy commented on #366
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-01 10:41] MuhammedMahdy commented on #382
@LamiaSalah @ahmedelbougha @Ali-Galal
Done! please confirm and close

[2019-01-01 13:37] HeshamHassan commented on #366
Done.

[2019-01-01 13:37] #366 closed, assigned to nobody

[2019-01-01 13:40] HeshamHassan commented on #371
I'm collecting them and will send to you.

[2019-01-02 06:46] HeshamHassan opened #384 "Broken Link in a Page"
This page: http://skilledmatrix.com/About-Us/The-Skilled-Matrix-Advantage
has links which are not working:
- Authorized Certification Centers
- Educators

![image](https://user-images.githubusercontent.com/11155105/50582438-aa239f80-0e73-11e9-9aa9-3d130d67ae6c.png)

[2019-01-02 13:33] HeshamHassan opened #385 "Create Exam Issue"
- [ ] Change the date format to be able to enter and watch the date as normal as users know ((dd-mm-yyyy))

[2019-01-02 13:36] HeshamHassan commented on #371
As agreed in the meeting between @mohamedMahdyCc and @HeshamHassan today..
This issue is moved to a new one.
- Create Exam Issue, is: #385

[2019-01-02 13:36] #371 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-01-02 13:43] HeshamHassan commented on #375
Done.

[2019-01-02 13:43] #375 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-01-02 13:56] mohamedMahdyCc opened #386 "Dynamic footer"

[2019-01-02 13:56] mohamedMahdyCc commented on #386
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-03 07:53] HeshamHassan commented on #359
This issue transfared to a new issue #383

[2019-01-03 07:53] #359 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-03 11:46] mohamedMahdyCc commented on #385
@HeshamHassan please let us in which pages you want to apply this Enhancement ?

[2019-01-03 16:52] mahmoud-hussien1 commented on #384
@HeshamHassan this is not issue.
the link pointing on static page whose Path changed from admin **CMS > Page** Section.
when you change  any **static page path**, please change it in all places that use that page's path.

[2019-01-06 05:53] HeshamHassan commented on #384
**@LamiaSalah**
Kindly check and advice.

[2019-01-06 09:44] LamiaSalah commented on #380
@mohamedMahdyCc as discussed, having the photos not arranged is an issue, please ensure it's fixed. It's a waste of time to go through all the uploaded photos to find the newly uploaded ones.

[2019-01-06 09:46] LamiaSalah commented on #381
@mohamedMahdyCc, please advise on the status

[2019-01-06 10:28] LamiaSalah opened #387 "Page preview not working"
@mohamedMahdyCc there's an issue with the page preview for all pages. I get a message that it's not working

[2019-01-06 10:35] HeshamHassan commented on #387
![image](https://user-images.githubusercontent.com/11155105/50734934-d9aa1300-11b7-11e9-83bb-25892d0d3ab3.png)

![image](https://user-images.githubusercontent.com/11155105/50734941-de6ec700-11b7-11e9-84c9-777398f708da.png)

[2019-01-06 11:08] HeshamHassan commented on #385
**@mohamedMahdyCc**
- Create appointment
- Reschedule appointment
- User profile form:  Date of birth
- Testing center form:  CR Expiration date
- Create/Modify test:  Expiration date
- Create vouchers:  Expiry Date

**Note:**
Show the date as needed in the system. But let the user inputs the date starting with day then month ends with the year.
Otherwise, make it chosen with the date bicker as yo

[2019-01-06 11:16] HeshamHassan opened #388 "Date Fields Autocomplete Issue"
Remove cache (autocomplete) from all date fields.
- [x] Create appointment
- [x] Reschedule appointment
- [x] User profile form:  Date of birth
- [x] Testing center form:  CR Expiration date
- [x] Create/Modify test:  Expiration date
- [x] Create vouchers:  Expiry Date

[2019-01-06 11:20] LamiaSalah opened #389 "menu tabs"
@mohamedMahdyCc all the tabs at the menu are not see, only Skilled Matrix Solution is available

[2019-01-06 12:48] LamiaSalah commented on #384
@HeshamHassan links edited now, but I can't check as there's an issue with the preview option on the website

[2019-01-06 12:57] HeshamHassan commented on #384
Broken Links issue is solved.
Page Preview in CMS is in a separate issue #387

[2019-01-06 12:57] #384 closed, assigned to ahmedelbougha, MuhammedMahdy, Ali-Galal, LamiaSalah

[2019-01-07 15:14] Ali-Galal commented on #326
@LamiaSalah please answer this ASAP

[2019-01-07 17:54] Ali-Galal commented on #381
rejected at mean time

[2019-01-07 17:54] #381 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-07 17:59] Ali-Galal commented on #353
rejected

[2019-01-07 17:59] #353 closed, assigned to LamiaSalah

[2019-01-07 18:01] #311 closed, assigned to mohamedMahdyCc

[2019-01-08 07:59] LamiaSalah commented on #326
@mohamedMahdyCc there's an issue with the site I can't access it.
![image](https://user-images.githubusercontent.com/37042927/50817310-139c2600-132c-11e9-8004-0a1fa84a4f7e.png)

[2019-01-08 08:03] HeshamHassan commented on #326
**@mohamedMahdyCc**
Home page is not working. Backend is working good.

[2019-01-08 11:12] HeshamHassan commented on #338
**@Ali-Galal**
Kindly advice.

[2019-01-08 12:04] mohamedMahdyCc commented on #389
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-08 12:04] HeshamHassan commented on #386
**@mohamedMahdyCc**
As agreed with **@LamiaSalah** at the meeting today..
The footer needed to be a mirror to the header. and with the same order.

[2019-01-08 12:07] HeshamHassan commented on #389
Not yet!!

[2019-01-08 12:34] HeshamHassan commented on #389
Done.

[2019-01-08 12:34] #389 closed, assigned to HeshamHassan, mohamedMahdyCc

[2019-01-08 12:36] LamiaSalah commented on #379
@mohamedMahdyCc Could you please advise? we need to have this edited ASAP
Please also change the mail to info@skilledmatrix.com

[2019-01-08 12:51] LamiaSalah commented on #387
@mohamedMahdyCc please advise

[2019-01-08 12:53] LamiaSalah commented on #326
@mohamedMahdyCc as discussed please change the font to that of SBP

[2019-01-08 13:16] mohamedMahdyCc commented on #379
@LamiaSalah
ok will check

[2019-01-08 13:20] mohamedMahdyCc commented on #379
@LamiaSalah @HeshamHassan @Ali-Galal @ahmedelbougha
this is a server issue
i replied about this before that in other issues, we just need a correct mail server information to change the current email

[2019-01-08 13:24] HeshamHassan commented on #379
**@mohamedMahdyCc**
So, what is the problem we have here? and how can we solve?
Kindly elaborate.

[2019-01-08 13:25] mohamedMahdyCc commented on #386
@HeshamHassan @LamiaSalah

i discussed this with @ahmedelbougha and i think this is rejected from @Ali-Galal , so please confirm and close

[2019-01-09 07:41] LamiaSalah commented on #379
@HeshamHassan @mohamedMahdyCc  I think we are not on the same page here. I just need this page to be like the ' Contact Us' page on SBP, with changing the mail address available form SBP to Skilled Now, with access to change it when needed. So I'm nor sure what the problem is.

[2019-01-09 07:42] LamiaSalah commented on #386
@mohamedMahdyCc  OK, so the footer currently need to be changed same as the header, even if it's not linked to it, how would this be done?

[2019-01-10 12:32] MuhammedMahdy opened #390 "Assessment Exams"
@ahmedelbougha
Effort: 11 working days

@Ali-Galal please approve ?

[2019-01-10 13:12] mohamedMahdyCc commented on #387
@LamiaSalah @ahmedelbougha @Ali-Galal @HeshamHassan
Fixed! please confirm and close

[2019-01-10 13:25] mohamedMahdyCc commented on #388
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-10 14:08] Ali-Galal commented on #390
Confirm

[2019-01-10 14:48] LamiaSalah commented on #387
@mohamedMahdyCc  confirmed

[2019-01-10 14:48] #387 closed, assigned to HeshamHassan, mohamedMahdyCc

[2019-01-14 09:28] #383 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-14 11:56] mohamedMahdyCc commented on #386
@LamiaSalah @HeshamHassan @ahmedelbougha @Ali-Galal
simple documentation for skillsbuilder pro how dynamic footer works
https://docs.google.com/document/d/1uIMzRLOgoOsDfKdLei3kgRUPq52fWAXd5uBfJKbyWIs/edit?usp=sharing

[2019-01-14 12:06] mohamedMahdyCc commented on #380
![image](https://user-images.githubusercontent.com/40764593/51111663-603ca100-1805-11e9-9e56-b875963e19ff.png)

i think this issue already fixed , at this screen shot i uploaded the first 2 photos just for testing, when upload new photo the sorting show them at the top (Descending sorting)

please check again and close if you see it done

[2019-01-14 12:09] mohamedMahdyCc commented on #379
@HeshamHassan @LamiaSalah
the contact done for **TE** is done like **SBP** ,, about the email this is a server issue as i mentioned before , so please close this issue if you see it done

[2019-01-14 12:18] mohamedMahdyCc commented on #326
done, please confirm and close

[2019-01-14 13:30] HeshamHassan opened #391 "Test Duplicate Button"
- Add duplicate button for the test. It will do:
  - Duplicate the test.
  - The second copy test will have the whole question with its model answers.
  - The second copy test will be editable like as any new test till delivering it.

[2019-01-14 13:33] HeshamHassan commented on #383
Rejected and Replaced with a new issue #391

[2019-01-15 08:28] LamiaSalah commented on #380
Done

[2019-01-15 08:28] #380 closed, assigned to LamiaSalah

[2019-01-15 08:29] LamiaSalah commented on #379
@mohamedMahdyCc what mail issue you're talking about?

[2019-01-15 08:32] LamiaSalah commented on #326
@mohamedMahdyCc  can you please the titles and menu items bold as it was before? and also move the menu bar at the top to the right, it shouldn't be so close to the logo

[2019-01-16 11:35] HeshamHassan commented on #388
**@mohamedMahdyCc**
This field does not act right... It still chaching and it is date field and caching from username!!!!!
- [ ] User profile form: Date of birth
![image](https://user-images.githubusercontent.com/11155105/51246149-ba229f80-199a-11e9-885e-dd9fca431a9a.png)

[2019-01-17 08:09] LamiaSalah commented on #382
@mohamedMahdyCc could you please send me the page link to check?

[2019-01-17 08:18] LamiaSalah commented on #386
@mohamedMahdyCC I'm not sure this is clear for me. Is this used to EDIT the current footer content?

[2019-01-17 13:01] HeshamHassan commented on #379
**@mohamedMahdyCc**
Kindly update.

[2019-01-21 07:11] #338 closed, assigned to ahmedelbougha, Ali-Galal, LamiaSalah

[2019-01-21 07:13] Ali-Galal commented on #367
@mohamedMahdyCc delivery time, please?

[2019-01-21 07:20] Ali-Galal commented on #379
@HeshamHassan kindly confirm that the Contact Us page is launched, and it is dynamic page.

if it is working fine close this issue,

regarding the mail issue we have to setup a meeting to finalize this issue permanently

[2019-01-21 09:36] LamiaSalah commented on #346
@mohamedMahdyCc I can still find some variations in internal pages. Can you please apply the same you did with SBP and standardise all font sizes and spaces in the internal pages?

[2019-01-21 09:38] LamiaSalah commented on #382
@mohamedMahdyCc  Done

[2019-01-21 09:38] #382 closed, assigned to ahmedelbougha, LamiaSalah, mohamedMahdyCc

[2019-01-21 10:02] LamiaSalah opened #392 "Create Shopping Cart"
@mohamedMahdyCc we need to have a shopping cart please

[2019-01-21 10:04] LamiaSalah opened #393 "Search bar"
@mohamedMahdyCc we need to create search bar for users to find tests

[2019-01-21 10:11] HeshamHassan commented on #390
**@mohamedMahdyCc**
Kindly update.

[2019-01-22 11:20] LamiaSalah opened #394 "Links format does not show on Frontend"
@mohamedMahdyCc when creating a link in any internal page, it appears to be underlined and blue, while in the frontend it appears like the rest of the text, it does not appear as a clickable link

e.g: http://skilledmatrix.com/Partner-Programs/Authorized-Testing-Centers
http://skilledmatrix.com/Partner-Programs/Corporate-Testing-Centres

[2019-01-22 12:00] HeshamHassan commented on #386
**@mohamedMahdyCc**
I tried the following scenario:
1. Create menu item "About Us" without parent and Weight 1
2. Create menu item "The Skilled Matrix Advantage" with parent "About Us" and Weight 1
3. Create menu item "Mission And Core Values" with parent "About Us" and Weight 2
4. Create the rest of footer headers with the same method
5. The rest of footer items are not created yet.

I got the fo

[2019-01-22 13:09] #386 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal

[2019-01-22 13:12] HeshamHassan commented on #379
Dynamic Contact Us Page is done.

[2019-01-22 15:20] HeshamHassan opened #395 "Email Credential Setting"
_Originally posted by @Ali-Galal in https://github.com/camelcasetechsd/testing-engine/issues/314#issuecomment-419702927_

[2019-01-23 08:20] Ali-Galal commented on #391
@mohamedMahdyCc @ahmedelbougha update us, please

[2019-01-23 10:48] mohamedMahdyCc commented on #391
@Ali-Galal @ahmedelbougha
- did you will need to add duplicate button for questions ?
- did you will want to save this operation to activity log so the admin can know whose copied the test ?

[2019-01-23 12:49] Ali-Galal commented on #391
@mohamedMahdyCc No, I dont need duplicate question in mean time.
yes, every single action should be registered in the log

[2019-01-23 16:12] mohamedMahdyCc commented on #390
@HeshamHassan @Ali-Galal
Done please confirm and close

[2019-01-28 09:20] Ali-Galal commented on #326
@mohamedMahdyCc update, please

[2019-01-28 09:21] Ali-Galal commented on #367
@mohamedMahdyCc reminder

[2019-01-28 09:22] Ali-Galal commented on #391
@mohamedMahdyCc update us, please

[2019-01-28 09:24] Ali-Galal commented on #388
@mohamedMahdyCc update?

[2019-01-28 09:26] #385 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-28 09:28] #392 closed, assigned to nobody

[2019-01-28 17:07] mohamedMahdyCc commented on #388
@ahmedelbougha @Ali-Galal @HeshamHassan
Done! please confirm and close

[2019-01-29 11:24] HeshamHassan commented on #388
Done.

[2019-01-29 11:24] #388 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-01-29 14:02] Ali-Galal opened #396 "checkbox for review question"
@mohamedMahdyCc we need checkbox in each question in the delivered exam to allow the user to review the question before ending the exams.

[2019-01-29 14:33] Ali-Galal opened #397 "Statistics"
@mohamedMahdyCc we need to add a statistics page for the following:
How many times the question appeared?
How many times the question solved true?
How many times the question solved false?
the average time for each question to be solved.

[2019-01-29 16:14] mohamedMahdyCc commented on #397
@ahmedelbougha
@Ali-Galal can you please send wireframe about how you expect that statistics to appear ?

[2019-01-31 18:04] mohamedMahdyCc commented on #394
@LamiaSalah @ahmedelbougha @Ali-Galal
Done! please confirm and close

[2019-02-02 16:38] HeshamHassan commented on #394
**@mohamedMahdyCc**
When moving over any link the link change its color. But when clicking on it its color changes to black and be the same as other page fonts.

[2019-02-04 16:30] mohamedMahdyCc commented on #393
@LamiaSalah @Ali-Galal
please determine how you wanna this search bar working with wire frame

[2019-02-04 18:13] mohamedMahdyCc opened #398 "backup and restore database tool"
![image](https://user-images.githubusercontent.com/40764593/52227442-32a0c000-28b8-11e9-966d-e82b1bb83e3d.png)

description:
this is a daily backup will be created once every day.
this operation will be saved to database with the created date and backup file name
the admin can navigate backup pages using the pagination
the admin can restore database via click on restore button for specific date.
t

[2019-02-05 05:54] Ali-Galal commented on #398
@mohamedMahdyCc add the suggested features

[2019-02-05 05:59] mohamedMahdyCc commented on #398
@Ali-Galal ok i suggest to start with that at first and prepare estimation in parallel for that suggestions
Waiting for approval

[2019-02-05 17:14] mohamedMahdyCc commented on #398
description:
this is a daily backup will be created once every day.
this operation will be saved to database with the created date and backup file name
the admin can navigate backup pages using the pagination
the admin can restore database via click on restore button for specific date.
the admin can delete the backup (the backup file will deleted from server and database)

**Esitmation: 4.5 days**

[2019-02-05 17:17] mohamedMahdyCc opened #399 "Model Answers image"
Backend Estimation: 4 hrs
Desktop Estimation: In Progress
front end Estimation: In Progress

[2019-02-06 13:57] mohamedMahdyCc commented on #395
@HeshamHassan
i think this already done , please confirm

[2019-02-06 16:40] MoatazAbdAlmageed commented on #394
@HeshamHassan I think now works well I tested http://skilledmatrix.com/Partner-Programs/Authorized-Testing-Centers

[2019-02-06 16:41] MoatazAbdAlmageed commented on #394
@HeshamHassan @LamiaSalah  I think you have to update links in http://skilledmatrix.com/Partner-Programs/Corporate-Testing-Centres

[2019-02-06 16:49] MoatazAbdAlmageed commented on #399
@mohamedMahdyCc I need more details on this task because I may work on this

[2019-02-06 16:50] MoatazAbdAlmageed commented on #396
@Ali-Galal @mohamedMahdyCc We need more details  to start working  on this

[2019-02-06 16:52] MoatazAbdAlmageed commented on #346
@LamiaSalah I will check all pages but pleas provide links with the pages you mentions. Thanks @mohamedMahdyCc

[2019-02-07 07:56] mahmoud-hussien1 commented on #326
@LamiaSalah
the titles and menu items bold done, please confirm and close.

[2019-02-07 09:37] mohamedMahdyCc commented on #391
@Ali-Galal @ahmedelbougha
**Estimation: 9 days**

[2019-02-07 09:51] LamiaSalah commented on #326
@mahmoud-hussien1 Confirmed

[2019-02-07 09:51] #326 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah

[2019-02-07 09:53] LamiaSalah commented on #394
@MoatazAbdAlmageed Confirmed

[2019-02-07 09:53] #394 closed, assigned to HeshamHassan, Ali-Galal, mohamedMahdyCc

[2019-02-07 09:59] Ali-Galal commented on #396
![scan0002](https://user-images.githubusercontent.com/36264944/52403615-2c892a00-2ad8-11e9-81d4-1dd8820d5403.jpg)

Note: the colors mentioned for the background of the question number block

[2019-02-07 10:03] Ali-Galal commented on #396
before finishing exam we need three buttons:
1- full review ==> will return to the first question and list the rest questions with mentioned colors.
2- review marked ==> will return to the first marked question and list the marked only.
3- review skipped ==>  will return to the first skipped question and list the skipped only.

[2019-02-07 10:16] MoatazAbdAlmageed commented on #396
@Ali-Galal  Thanks for the details @mohamedMahdyCc we have to apply those changes in desktop application also

[2019-02-07 10:23] Ali-Galal commented on #395
@mohamedMahdyCc I created an account yesterday but I didnt receive the activation mail

[2019-02-07 10:30] Ali-Galal commented on #391
declined

[2019-02-07 10:32] #391 closed, assigned to ahmedelbougha, HeshamHassan, Ali-Galal, LamiaSalah, mohamedMahdyCc

[2019-02-07 12:05] Ali-Galal opened #400 "Report Association"
@ahmedelbougha
we need to assign the report to a particular username and/or assign to a particular role

[2019-02-07 17:14] mohamedMahdyCc commented on #395
@Ali-Galal working in progress...

[2019-02-07 17:30] ahmedelbougha commented on #390
@Ali-Galal
Would you please confirm and close?

[2019-02-07 17:33] ahmedelbougha commented on #367
@Ali-Galal
will be working on that, will keep you updated En Shaa Allah

[2019-02-07 17:35] MoatazAbdAlmageed commented on #346
@LamiaSalah  I checked all pages it works well please provide links with the pages you mentions.

[2019-02-07 17:40] ahmedelbougha commented on #107
To be checked later:
web-socket, nodejs schedule

[2019-02-10 08:47] LamiaSalah commented on #379
@mohamedMahdyCc we need to have the country name in a separate line in both English and Arabic

[2019-02-10 15:16] mohamedMahdyCc commented on #393
@Ali-Galal @LamiaSalah
Kind Reminder

[2019-02-11 10:24] Ali-Galal opened #401 "address in the footer"
address in the footer should be:
1200 G Street, NW, Suite 800, Washington DC, USA 20005
instead of the current one
please change it

[2019-02-11 11:04] MoatazAbdAlmageed commented on #401
@Ali-Galal done in development I will notify you after deploy
![image](https://user-images.githubusercontent.com/17373050/52559261-82721080-2dfd-11e9-8f86-2bd8a2148c19.png)

[2019-02-11 11:05] MoatazAbdAlmageed commented on #346
@LamiaSalah reminder

[2019-02-11 14:58] LamiaSalah commented on #346
@MoatazAbdAlmageed HYG

- http://skilledmatrix.com/About-Us/Mission-and-Core-Values (spacing issue)
-  http://skilledmatrix.com/Skilled-Matrix-Solutions (spacing and font variations between various paragraphs)
- http://skilledmatrix.com/Skilled-Matrix-Solutions/Test-Authoring (font variations between various paragraphs)
- http://skilledmatrix.com/Skilled-Matrix-Solutions/Testing-and-Advisory-Servi

[2019-02-12 15:24] MoatazAbdAlmageed commented on #346
@LamiaSalah Okay thanks for providing those links I will check them.

[2019-02-21 12:15] MoatazAbdAlmageed commented on #401
@Ali-Galal task updated at https://gitlab.com/camelcasetech/testing-engine/issues/13

[2019-02-28 08:47] mahmoud-hussien1 commented on #396
@Ali-Galal feature on web now. (desktop remain)